<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>所有订单</title>
</head>
<body>
<form action="allorder" method="post">
    <input type="text" id="code" name="code"/><input type="submit" value="查询用户名"/>
    <input type="submit" value="查询全部"/>
    <input name="xfje" type="submit" value="当月消费金额查询"/>
    <table border="1px">
        <thead>
        <tr>
            <th width="80">用户名</th>
            <th width="430">订单编号</th>
            <th width="80">消费金额</th>
            <th width="120">当月消费金额</th>
            <th width="80">买的东西</th>
            <th width="180">东西介绍</th>
            <th width="160">日期</th>
        </tr>
        </thead>
        <tbody th:each="lil,index :${li}">
        <tr>
            <td th:text="${lil.ShootUser.UserCode}"></td>
            <td th:text="${lil.OutTradeNo}"></td>
            <td th:text="${lil.TotalAmount}"></td>
            <td th:text="${lil.Toalyue}"></td>
            <td th:text="${lil.Subject}"></td>
            <td th:text="${lil.Body}"></td>
            <td th:text="${lil.creationDate}"></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>