
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">

    <title>我发布的信息 - 摄会社</title>
    <meta name="description" />
    <meta name="keywords" />

    <link href="../css/core73.min.css" rel="stylesheet" />
    <script th:src="@{/js/jquery.min.js}"></script>

</head>
<body class="body_default">



<header class="navbar navbar-fixed-top fy-docs-nav" id="top" role="banner">
    <!-- 导航条 -->
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#fy-navbar" aria-controls="fy-navbar" aria-expanded="false">
                <span class="sr-only">导航切换</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand fy-navbar-brand" href="/" title="摄会社 - 摄影师模特摄影约拍演艺通告平台">
                <div>
                    <img src="../images/logo.png" class="fy-navbar-logo" />
                    <span>艺术摄</span>
                </div>
            </a>
        </div>
        <nav id="fy-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="uul">
                <li>
                    <a class="fy-navItem-active" href="#">首页</a>
                </li>
                <li>
                    <a class="login" href="javascript:;">关注</a>
                </li>
                <li>
                    <a class="login" href="javascript:;">自拍</a>
                </li>
                <li>
                    <a class="login" href="javascript:;">主题</a>
                </li>
                <li shiro:hasPermission="query">
                <li th:replace="common/my :: my"></li>
                </li>
                <li>
                    <a id="" class="fy-navItem-notification" href="#">通知</a>
                </li>
                <li>
                    <a class="login" href="javascript:;">加入会员</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="fy-docs-nav-distance"></div>

<div class="container bottom_menu_margin_plus xzero_padding">
    <div class="data_posts">

        <div th:if="${info!=null and info.size()>0}">
            <!-- 个人信息展示 -->
            <div th:each="info,index : ${info}">

                <div class="data_post_container">
                    <a class="data_post_container_link" th:href="@{/shoot-info/about(id=${info.id})}">
                        <div class="data_post_fee_info">
                            <span class="data_meta_info" th:text="${info.shootType.typeName}">约拍</span>
                            <span class="data_meta_info span_v2_margin_left" th:text="${info.shootAddress.shootProw.prow+info.shootAddress.shootCity.city+info.shootAddress.shootCountry.country}">河南郑州</span>
                            <span class="span_v2_margin_left" th:text="${info.shootCost.costName}">愿意付费</span>
                            <span th:if="${info.shootCost.id==2 or info.shootCost.id==3}">
                             <span class="money_amount span_v2_margin_left" th:text="${info.price+'元'}">2元</span>
                            </span>

                        </div>

                        <div class="data_post_message v8_margin">
                            <span th:text="${info.content}"></span>
                            <!--<span class="data_meta_info">（1张）</span>-->
                        </div>

                        <!-- 图片展示 -->
                        <div class="row data_post_image_row">
                            <div th:if="${info.shootImages!=null}" th:each="images,count : ${info.shootImages}">
                                <div class="col-xs-4 col-md-2 data_post_image_cell">
                                    <img th:src="${images.imagesName}"/>
                                </div>
                            </div>
                        </div>

                        <div class="data_meta_info v10_margin">
                            <span class="data_meta_info" th:text="${info.creationDate}">2019年12月30日20:14</span>
                        </div>
                        <div class="data_post_status_info">
                            <span class="data_post_status_label_red" th:text="${info.shootState.stateName}">审核中</span>
                        </div>
                    </a>
                </div>

            </div>
        </div>
        <div th:if="${info==null or info.size()==0}">
            <h1>还没发布约拍信息吗?</h1>
            <a style="font-size: 100px" th:href="@{/shoot-user/postMessage}">马上去发布</a>
        </div>

    </div>


    <div class="v20_margin"></div>
</div>



<div id="notification_panel" style="position:fixed;">
    <div class="data_posts">
        <div class="data_post_cell" style="text-align:center;">
            <a class="btn btn-xs btn-primary" role='button' href="/notification">加载中</a>
        </div>
    </div>
</div>




</body>
</html>