<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">-->
    <title>我的积分 - 艺术摄</title>
    <meta name="description" />
    <meta name="keywords" />

    <link href="../css/core73.min.css" rel="stylesheet" />
    <script th:src="@{/js/jquery.min.js}"></script>
    <!--<script type="text/javascript">
        if (document.location.host && null != document.location.host) { var n = document.location.host; n.indexOf("shehuishe.com") < 0 && n.indexOf("shehuiapp.com") < 0 && (window.location.href = "https://www.shehuiapp.com/") }
    </script>-->

</head>
<body class="body_default">



<header class="navbar navbar-fixed-top fy-docs-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#fy-navbar" aria-controls="fy-navbar" aria-expanded="false">
                <span class="sr-only">导航切换</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand fy-navbar-brand" href="/" title="摄会社 - 摄影师模特摄影约拍演艺通告平台">
                <div>
                    <img src="/content/custom/logo.png" class="fy-navbar-logo" />
                    <span>摄会社</span>
                </div>
            </a>
        </div>
        <nav id="fy-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="uul">
                <li>
                    <a class="fy-navItem-active" href="#">首页</a>
                </li>
                <li>
                    <a class="login" href="#">关注</a>
                </li>
                <li>
                    <a class="login" href="#">自拍</a>
                </li>
                <li>
                    <a class="login" href="#">主题</a>
                </li>
                <!--   <li>
                       <a class="" href="#">地点</a>
                   </li>-->
                <li shiro:hasPermission="query">
                <li th:replace="common/my :: my"></li>
                </li>
                <li>
                    <a id="" class="fy-navItem-notification" href="#">通知</a>
                </li>
                <li>
                    <a class="login" href="#">加入会员</a>
                </li>
                <!-- <li>
                     <a class="" href="https://www.shehuiapp.com/download">下载APP</a>
                 </li>-->
            </ul>
        </nav>
    </div>
</header>
<div class="fy-docs-nav-distance"></div>

<form action="updintegral" method="post">
<div class="container bottom_menu_margin_plus xzero_padding">
    <div class="data_posts">
        <div class="data_post_cell" style="min-height:50px;">
            <span class="data_meta_info">我的积分：</span>
            <span id="user_points" class="money_amount" name="integral" th:text="${integra}"></span>
            <input type="submit" id="qd" onclick="" value="点击签到"/>
        </div>
        <div class="data_post_cell" style="min-height:50px;">
            <span class="data_meta_info">每天签到 积分 +5</span>
            <div class="v10_margin">签到可以获取一次额外的约拍次数</div>
            <div class="v10_margin">
                <p id="marked_title" class="data_meta_info" style="" th:text="${yqd}"></p>
                <!--<a id="mark_button" class="btn btn-sm btn-danger" style="display:none;" href="javascript:void(0);">点击签到</a>-->
            </div>
        </div>
    </div>
</div>
</form>

<div id="toast_message" class="toast_message_fixed" style="display: none;">
    <div class="weui_toast weui_toast_fixed">
        <p id="toast_message_text" class="weui_toast_content weui_toast_content_fixed">
        </p>
    </div>
</div>
<script type="text/javascript">
    function showToastMessage(text) {
        $("#toast_message_text").text(text);
        $('#toast_message').show();
        setTimeout(function () {
            $('#toast_message').hide();
        }, 1000);
    }
    function hideToastMessage(text) {
        $('#toast_message').hide();
    }
</script>




<script type="text/javascript">var siteRoot = "https://www.shehuiapp.com/";</script>

<script src="../js/core36.min.js"></script>


<link rel="stylesheet" href="/content/resources/weui.min.css">
<script type="text/javascript">
    function executeMarkProc() { $.ajax({ url: siteRoot + "user/mark", type: "POST", contentType: "application/json; charset=utf-8", success: function (t) { t.success ? (showToastMessage("签到成功"), $("#mark_button").hide(), $("#marked_title").show(), $("#user_points").text(t.newPoints)) : showToastMessage(t.error) }, error: function () { alert("操作失败！请稍后再试！") } }) } $(function () { $("#mark_button").click(function (t) { executeMarkProc() }) });
</script>


<div id="notification_panel" style="position:fixed;">
    <div class="data_posts">
        <div class="data_post_cell" style="text-align:center;">
            <a class="btn btn-xs btn-primary" role='button' href="/notification">加载中</a>
        </div>
    </div>
</div>

<script th:src="@{/js/notlogin.js}"></script>
<!--<script type="text/javascript" src="https://tajs.qq.com/stats?sId=45681568" charset="UTF-8"></script>-->
<script type="text/javascript">
    var now;
    var now2=
    function getNow(s) {
        return s < 10 ? '0' + s: s;
    }
    var bankCard1=$("#marked_title").text();
        if(bankCard1 =="您已签到"){
            $("#qd").click(function () {
               /* $(this).attr({"disabled":"disabled"});
                var myDate = new Date();
//获取当前年
                var year=myDate.getFullYear();
//获取当前月
                var month=myDate.getMonth()+1;
//获取当前日
                var date=myDate.getDate();
                var h=myDate.getHours();       //获取当前小时数(0-23)
                var m=myDate.getMinutes();     //获取当前分钟数(0-59)
                var s=myDate.getSeconds();

                now=year+'-'+getNow(month)+"-"+getNow(date)+" "+getNow(h)+':'+getNow(m)+":"+getNow(s);*/
                alert("您已签到！")
            })
        //$("#qd").attr('disabled',false);
        }
           //document.getElementById("marked_title").innerText="您已签到"
    /*
    *
    * */



</script>
</body>
</html>