<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8">
    <title>我的积分 - 艺术摄</title>
    <meta name="description" />
    <meta name="keywords" />

    <link href="../css/core73.min.css" rel="stylesheet" />
    <script th:src="@{/js/jquery.min.js}"></script>

</head>
<body class="body_default">

<header class="navbar navbar-fixed-top fy-docs-nav" id="top" role="banner">

    <!-- 导航条 -->
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#fy-navbar" aria-controls="fy-navbar" aria-expanded="false">
                <span class="sr-only">导航切换</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand fy-navbar-brand" href="/" title="摄会社 - 摄影师模特摄影约拍演艺通告平台">
                <div>
                    <img src="../images/logo.png" class="fy-navbar-logo" />
                    <span>艺术摄</span>
                </div>
            </a>
        </div>
        <nav id="fy-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="uul">
                <li>
                    <a th:href="@{/shoot-user/index}">首页</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-attention/attention}">关注</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-theme/zipai}">自拍</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-theme/top}">主题</a>
                </li>
                <li shiro:hasPermission="query">
                <li th:replace="common/my :: my"></li>
                </li>
            </ul>
        </nav>
    </div>

</header>>

<div class="fy-docs-nav-distance"></div>

<form action="updintegral" method="post">
<div class="container bottom_menu_margin_plus xzero_padding">
    <div class="data_posts">
        <div class="data_post_cell" style="min-height:50px;">
            <span class="data_meta_info">我的积分：</span>
            <span id="user_points" class="money_amount" name="integral" th:text="${integra}"></span>
            <input id="zt" hidden th:value="${zt}"/>
            <input type="submit" id="qd" onclick="" value="点击签到"/>
        </div>
        <div class="data_post_cell" style="min-height:50px;">
            <span class="data_meta_info">每天签到 积分 +5</span>
            <div class="v10_margin">签到可以获取一次额外的约拍次数</div>
            <div class="v10_margin">
                <p id="marked_title" class="data_meta_info" style="" th:text="${yqd}"></p>
            </div>
        </div>
    </div>
</div>
</form>
<script type="text/javascript">
    var zt=$("#zt").val();
    if(zt!=null && zt==8){
        $("#marked_title").text("您还未签到");
    }else{
        $("#marked_title").text("您已签到")
        $(this).attr({"disabled":"disabled"});
    }
    var bankCard1=$("#marked_title").text();
    if(bankCard1 =="您已签到"){
        $("#qd").click(function () {
            alert("您已签到！")
            $(this).attr({"disabled":"disabled"});
        })
    }
</script>
<script th:src="@{/js/style.js}"></script>

<!--<div id="toast_message" class="toast_message_fixed" style="display: none;">
    <div class="weui_toast weui_toast_fixed">
        <p id="toast_message_text" class="weui_toast_content weui_toast_content_fixed">
        </p>
    </div>
</div>
<script type="text/javascript">
    function showToastMessage(text) {
        $("#toast_message_text").text(text);
        $('#toast_message').show();
        setTimeout(function () {
            $('#toast_message').hide();
        }, 1000);
    }
    function hideToastMessage(text) {
        $('#toast_message').hide();
    }
</script>-->

<script th:src="@{/js/notlogin.js}"></script>

</body>
</html>