<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">

    <title>发出请求 - 艺术摄</title>
    <meta name="description" />
    <meta name="keywords" />

    <link href="../css/core73.min.css" rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}"></script>

</head>
<body class="body_default">

<header class="navbar navbar-fixed-top fy-docs-nav" id="top" role="banner">

    <!-- 导航条 -->
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#fy-navbar" aria-controls="fy-navbar" aria-expanded="false">
                <span class="sr-only">导航切换</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand fy-navbar-brand" href="/" title="摄会社 - 摄影师模特摄影约拍演艺通告平台">
                <div>
                    <img th:src="@{/images/logo.png}" class="fy-navbar-logo" />
                    <span>艺术摄</span>
                </div>
            </a>
        </div>
        <nav id="fy-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="uul">
                <li>
                    <a th:href="@{/shoot-user/index}">首页</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-attention/attention}">关注</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-theme/zipai}">自拍</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-theme/top}">主题</a>
                </li>
                <li shiro:hasPermission="query">
                <li th:replace="common/my :: my"></li>
                </li>
            </ul>
        </nav>
    </div>

</header>

<div class="fy-docs-nav-distance"></div>

<div class="container bottom_menu_margin_plus xzero_padding">
    <div class="tabs_header">


        <ul id="message_tabs" class="nav nav-tabs">
            <li role="presentation" class="active"><a href="javascript:;" data-tabname="notifications">账单信息</a></li>
            <li role="presentation" class="active"><a href="javascript:;" data-tabname="sentrequests" th:text="${'总支出:'+expend}"></a></li>
            <li role="presentation" class="active"><a href="javascript:;" data-tabname="sentrequests" th:text="${'总收入:'+income}"></a></li>
        </ul>


    </div>

    <div class="data_posts tab_panel tabs_header_margin" data-tabname="sentrequests">

    <ul th:if="${orderList==null or orderList.size()<1}">
        <li>还没有账单</li>
    </ul>
        <table th:if="${orderList!=null and orderList.size()>0}" border="1" cellspacing="10" cellpadding="10" style="background: #fff;">
            <tr>
                &nbsp;&nbsp;<td>订单号</td>&nbsp;&nbsp;
                &nbsp;&nbsp;<td>金额</td>&nbsp;&nbsp;
                &nbsp;&nbsp;<td>名称</td>&nbsp;&nbsp;
                &nbsp;&nbsp;<td>描述</td>&nbsp;&nbsp;
                &nbsp;&nbsp;<td>时间</td>&nbsp;&nbsp;
            </tr>
            <tr th:each="order,index : ${orderList}" th:object="${order}">
                &nbsp;&nbsp;<td th:text="*{outTradeNo}"></td>&nbsp;&nbsp;
                &nbsp;&nbsp;<td th:text="${order.totalAmount>0?order.totalAmount:0}"></td>&nbsp;&nbsp;
                &nbsp;&nbsp;<td th:text="*{subject}"></td>&nbsp;&nbsp;
                &nbsp;&nbsp;<td th:text="*{body}"></td>&nbsp;&nbsp;
                &nbsp;&nbsp;<td th:text="*{creationDate}"></td>&nbsp;&nbsp;
            </tr>
        </table>

    </div>


    <div class="v20_margin"></div>
</div>

<script th:src="@{/js/style.js}"></script>

</body>
</html>