
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>设置手机号码</title>
    <meta name="description" />
    <meta name="keywords" />

    <link href="../css/core73.min.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/weui.min.css}">
    <script th:src="@{/js/jquery.min.js}"></script>

</head>
<body class="body_default">

<style type="text/css">
    .align_label {
        min-width: 80px;
    }
</style>

<header class="navbar navbar-fixed-top fy-docs-nav" id="top" role="banner">

    <!-- 导航条 -->
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#fy-navbar" aria-controls="fy-navbar" aria-expanded="false">
                <span class="sr-only">导航切换</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand fy-navbar-brand" href="/" title="摄会社 - 摄影师模特摄影约拍演艺通告平台">
                <div>
                    <img src="../images/logo.png" class="fy-navbar-logo" />
                    <span>艺术摄</span>
                </div>
            </a>
        </div>
        <nav id="fy-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="uul">
                <li>
                    <a class="login" th:href="@{/shoot-user/index}">首页</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-attention/attention}">关注</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-theme/zipai}">自拍</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-theme/top}">主题</a>
                </li>
                <li shiro:hasPermission="query">
                <li th:replace="common/my :: my"></li>
                </li>
            </ul>
        </nav>
    </div>

</header>

<div class="fy-docs-nav-distance"></div>

<!-- 绑定手机号填写信息 -->
<div class="container bottom_menu_margin_plus xzero_padding">
        <input th:if="${message!=null and message!=''}" th:value="${message}">
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8J5CSEebsqxEkrpW_UgxB1g29xwYrN_68tWm-4Qjp6DsR9tEjvH0oSvfs9WyYPzp5DSbCGkiX_boo3SJPzVANh1GW_Cm6vcAy70k9RcZkaLubouJRE7utl8ubXLlDKvj_de92Iswiv_tVvwZPPLdEV4" />
        <div class="validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
        </ul></div>

        <!-- 填写手机号信息 -->
        <div class="data_posts">
            <div class="data_post_cell">
                <span class="data_group_title_bold">设置手机号码</span>
                <div class="data_meta_info v10_margin">用于客服联系、登录验证、账号认证，不会对外公开</div>
            </div>
            <div class="data_post_cell">
                <label  class="control-label align_label v10_margin_right">手机号码</label>
                <input type="number" pattern="[0-9]*" id="phone" name="phone" class="form-control form_control_inline fy_form_control" style="width:160px;" placeholder="" />
            </div>
            <div class="data_post_cell">
                <div class="v5_margin">
                    <button id="getsmscode_button" role="button" class="btn btn-primary btn-sm" style="width:120px;">获取短信验证码</button>
                </div>
            </div>
            <div class="data_post_cell">
                <label class="control-label align_label v10_margin_right">短信验证码</label>
                <input type="number" pattern="[0-9]*" id="code" name="code" class="form-control form_control_inline fy_form_control" style="width:100px;" placeholder="" />
            </div>
            <div class="data_post_cell">
                <button id="save_button" role="button" class="btn btn-primary btn-sm form_large_button">设置手机号码</button>
                <a id="cancel_button" role="button" class="btn btn-danger btn-sm btn_cancel" data-url="javascript:window.history.back();" href="javascript:void(0);">取消</a>
            </div>
        </div>

</div>


<!-- 验证码 操作 绑定手机号 -->
<script type="text/javascript">
    $(document).ready(function () {
        var code;   //验证码
        var phone;  //手机号
        <!-- 到短信平台去发送验证码 -->
        $("#getsmscode_button").click(function () {
           var val = $("#phone").val();
           $.post("/shoot-user/phone",{"phone":val},function (data) {
              if (data!=false){
                  timer();   //禁用获取验证码 按钮
                  code=data.code;   //放入验证码
                  phone=data.phone;  //放入手机号码
              }
           },"json");
       });

        <!-- 绑定手机号到数据库 -->
        $("#save_button").click(function () {
            if(code!=undefined && code!=''){
                var val = $("#code").val();
                alert(code);
                if(code==val){ //验证码正确

                    //修改 字段 增加 手机号
                    location.href="/shoot-user/updatePhone?phone="+phone;
                }else {
                    alert("验证码不正确");
                }
            }else {
                alert("验证码发送失败!");
            }
        });

        var wait = 60;
        //倒计时
        function timer() {
            if(wait == 0){
                $("#getsmscode_button").text("获取验证码");
                $("#getsmscode_button").removeAttr("disabled");
                $("#getsmscode_button").css("border-color","1e9fff").css("background", "#ffffff").css("cursor", "pointer");
                wait = 60;
            }else{
                $("#getsmscode_button").attr("disabled","true");
                $("#getsmscode_button").css("border-color","fbfbfb").css("background", "#ccc").css("cursor", "not-allowed");
                $("#getsmscode_button").text(wait + "秒后重发");
                wait--;
                setTimeout(function() {timer()}, 1000);
            }
        }

    });
</script>


</body>

</html>
