<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
   <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">-->
    <title>我的 - 摄会社</title>
    <meta name="description" />
    <meta name="keywords" />

    <link href="../css/core73.min.css" rel="stylesheet" />
    <!--<script type="text/javascript">
        if (document.location.host && null != document.location.host) { var n = document.location.host; n.indexOf("shehuishe.com") < 0 && n.indexOf("shehuiapp.com") < 0 && (window.location.href = "https://www.shehuiapp.com/") }
    </script>-->

</head>
<body class="body_default">



<header class="navbar navbar-fixed-top fy-docs-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#fy-navbar" aria-controls="fy-navbar" aria-expanded="false">
                <span class="sr-only">导航切换</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand fy-navbar-brand" href="/" title="摄会社 - 摄影师模特摄影约拍演艺通告平台">
                <div>
                    <img src="../images/logo.png" class="fy-navbar-logo" />
                    <span>艺术摄</span>
                </div>
            </a>
        </div>
        <nav id="fy-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="uul">
                <li>
                    <a class="fy-navItem-active" href="#">首页</a>
                </li>
                <li>
                    <a class="login" href="#">关注</a>
                </li>
                <li>
                    <a class="login" href="#">自拍</a>
                </li>
                <li>
                    <a class="login" href="#">主题</a>
                </li>
                <!--   <li>
                       <a class="" href="#">地点</a>
                   </li>-->
                <li shiro:hasPermission="query">
                <li th:replace="common/my :: my"></li>
                </li>
                <li>
                    <a id="" class="fy-navItem-notification" href="#">通知</a>
                </li>
                <li>
                    <a class="login" href="#">加入会员</a>
                </li>
                <!-- <li>
                     <a class="" href="https://www.shehuiapp.com/download">下载APP</a>
                 </li>-->
            </ul>
        </nav>
    </div>
</header>
<div class="fy-docs-nav-distance"></div>

<div class="container bottom_menu_margin_plus xzero_padding">
    <div class="data_posts">
        <div class="data_post_cell_dotted">
            <div style="text-align:center;">
                <a class="data_post_author_title_link" href="/u/1534940">
                    <img class="img-circle data_avatar_small2" src="http://qzapp.qlogo.cn/qzapp/101219184/29FCB207DDB74B5E047DB0AD96E10AE0/30" alt="少年" />
                </a>
                <div class="v10_margin">
                    <span class="data_post_author_title">少年</span>
                    <i class="web_wechat_men"></i>
                    <div class="v5_margin">
                        <span class="data_meta_info_xs">河南郑州</span>
                        <span class="data_meta_info_xs">艺术其他</span>
                        <span class="data_meta_info_xs">摄会社Club月会员</span>
                    </div>
                </div>
            </div>
            <div class="v15_margin" style="text-align:center;">
                <a role="button" class="btn btn-success btn-sm" href="/y/publish">发布信息</a>
                <a role="button" class="btn btn-success btn-sm" href="/Gallery/New">发布相册</a>
            </div>
        </div>
    </div>

    <div class="data_posts v10_margin">
        <div class="data_post_cell" style="min-height:50px;">
            <span class="data_meta_info">我的积分：</span>
            <span class="money_amount">40</span>
            <div style="float:right;">
                <a class="btn btn-sm btn-default" href="/u/points">获取新的积分</a>
            </div>
        </div>
        <a class="data_post_cell data_post_cell_link" style="min-height:50px;" href="/u/account">
            <div class="right_select right_select_fixed"></div>
            <span class="data_meta_info">账户余额：</span>
            <span class="money_amount">0元</span>
        </a>
        <div class="data_post_cell">
            <div style="float:right;">
                <span class="data_meta_info">昵称、所在地区、联系方式等</span>
            </div>
            <a id="edit-button" class="btn btn-primary btn-sm" href="/u/editprofile" role="button">编辑个人资料</a>
        </div>
        <div class="data_post_cell">
            <div style="float:right;">
                <span class="data_meta_info">当前来自QQ登录</span>
            </div>
            <form id="logoff-form" class="inline-form" method="post" action="/Account/LogOff">
                <button id="exit-button" class="btn btn-danger btn-sm" type="button">退出当前账号</button>
            </form>
        </div>
    </div>

    <div class="row btstrap_row_fixed v10_margin">
        <div class="col-xs-6" style="padding-left:0px;padding-right:5px;">
            <div class="data_posts">
                <a class="data_post_cell data_post_cell_link" style="min-height:50px;" href="/notification">
                    <div class="right_select right_select_fixed"></div>
                    <span class="data_meta_text">系统通知</span>
                </a>
                <a class="data_post_cell data_post_cell_link" style="min-height:50px;" href="/message">
                    <div class="right_select right_select_fixed"></div>
                    <span class="data_meta_text">我的私信</span>
                </a>
                <a class="data_post_cell data_post_cell_link" style="min-height:50px;" href="/y/mine">
                    <div class="right_select right_select_fixed"></div>
                    <span class="data_meta_text">我发布的信息</span>
                </a>
                <a class="data_post_cell data_post_cell_link" style="min-height:50px;" href="/u/galleries/1534940">
                    <div class="right_select right_select_fixed"></div>
                    <span class="data_meta_text">我的作品相册</span>
                </a>
                <a class="data_post_cell data_post_cell_link" style="min-height:50px;" href="/u/topics/1534940">
                    <div class="right_select right_select_fixed"></div>
                    <span class="data_meta_text">我创建的主题</span>
                </a>
                <a class="data_post_cell data_post_cell_link" style="min-height:50px;" href="/u/joinedtopics/1534940">
                    <div class="right_select right_select_fixed"></div>
                    <span class="data_meta_text">我关注的主题</span>
                </a>
            </div>
        </div>
        <div class="col-xs-6" style="padding-left:5px;padding-right:0px;">
            <div class="data_posts">
                <a class="data_post_cell data_post_cell_link" style="min-height:50px;" href="/y/incomingrequests">
                    <div class="right_select right_select_fixed"></div>
                    <span class="data_meta_text">我收到的请求</span>
                </a>
                <a class="data_post_cell data_post_cell_link" style="min-height:50px;" href="/y/myrequests">
                    <div class="right_select right_select_fixed"></div>
                    <span class="data_meta_text">我发起的请求</span>
                </a>
                <a class="data_post_cell data_post_cell_link" style="min-height:50px;" href="/u/following?userID=1534940">
                    <div class="right_select right_select_fixed"></div>
                    <span class="data_meta_text">我关注的人</span>
                </a>
                <a class="data_post_cell data_post_cell_link" style="min-height:50px;" href="/u/followers?userID=1534940">
                    <div class="right_select right_select_fixed"></div>
                    <span class="data_meta_text">关注我的人</span>
                </a>
                <a class="data_post_cell data_post_cell_link" style="min-height:50px;" href="/u/blacklist?userID=1534940">
                    <div class="right_select right_select_fixed"></div>
                    <span class="data_meta_text">我的黑名单</span>
                </a>
                <a class="data_post_cell data_post_cell_link" style="min-height:50px;" href="/y/following">
                    <div class="right_select right_select_fixed"></div>
                    <span class="data_meta_text">我的收藏和喜欢</span>
                </a>
            </div>
        </div>
    </div>

    <!-- 网站菜单 -->
    <div class="data_posts v10_margin">
        <div class="data_post_cell">
            <div style="float:right;">
                <span class="data_meta_info">提高信用等级</span>
            </div>
            <a class="btn btn-warning btn-sm" href="/u/certification" role="button">提高信用等级</a>
        </div>
        <a class="data_post_cell data_post_cell_link" style="min-height:50px;" href="/vip">
            <div class="right_select right_select_fixed"></div>
            <span class="data_meta_text">加入会员</span>
        </a>
        <a class="data_post_cell data_post_cell_link" style="min-height:50px;" href="https://mp.weixin.qq.com/s/2lcjo7pvW4HNCYLWqC_Xng">
            <div class="right_select right_select_fixed"></div>
            <span class="data_meta_text">联系客服</span>
        </a>
        <a class="data_post_cell data_post_cell_link" style="min-height:50px;" href="http://mp.weixin.qq.com/s?__biz=MzI5NTA0NzAwMA==&mid=504523102&idx=1&sn=1449a6fa4728921676dbf370e7debf2a&chksm=77bf536940c8da7fd9257ea9c5455f1633e57b34fa0692d4b5ed868ab1b7a6dc459355a6b241&scene=1&srcid=0909nP2GXXC6OCSM0j9BNHEs#rd" rel="nofollow">
            <div class="right_select right_select_fixed"></div>
            <span class="data_meta_text">使用指南</span>
        </a>
        <a class="data_post_cell data_post_cell_link" style="min-height:50px;" href="/about">
            <div class="right_select right_select_fixed"></div>
            <span class="data_meta_text">关于</span>
        </a>
    </div>
    <div class="v10_margin"></div>
</div>



<footer class="fy-docs-footer " role="contentinfo">
    <div class="container xzero_padding" style="text-align:center;">
        <a href="https://www.shehuiapp.com">
            <span class="data_meta_info">
                © 2014 - 2019 摄会社 摄影师模特摄影约拍演艺通告平台
            </span>
        </a>
    </div>
</footer>
<div id="toast_message" style="display: none;">
    <div class="weui_toast">
        <p id="toast_message_text" class="weui_toast_content" style="margin-top:40px;margin-left:10px;margin-right:10px;"></p>
    </div>
</div>
<div class="weui_dialog_confirm" id="logoff_dialog" style="display:none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">确定退出吗？</strong></div>
        <div class="weui_dialog_ft">
            <a id="logoff_cancel_button" href="javascript:;" class="weui_btn_dialog default">取消</a>
            <a id="logoff_confirm_button" href="javascript:;" class="weui_btn_dialog primary">确定</a>
        </div>
    </div>
</div>







<script type="text/javascript">var siteRoot = "https://www.shehuiapp.com/";</script>

<script src="../js/jquery.min.js"></script>
<script src="../js/core36.min.js"></script>


<link rel="stylesheet" href="../css/weui.min.css">
<script type="text/javascript">
    $(function () { $("#exit-button").on("click", function () { $("#logoff_dialog").show(), $("#logoff_dialog").find("#logoff_cancel_button").on("click", function () { $("#logoff_dialog").hide() }), $("#logoff_dialog").find("#logoff_confirm_button").on("click", function () { $("#logoff_dialog").hide(), $("#logoff-form").submit() }) }) });
</script>


<div id="notification_panel" style="position:fixed;">
    <div class="data_posts">
        <div class="data_post_cell" style="text-align:center;">
            <a class="btn btn-xs btn-primary" role='button' href="/notification">加载中</a>
        </div>
    </div>
</div>



<script type="text/javascript" src="https://tajs.qq.com/stats?sId=45681568" charset="UTF-8"></script>
</body>
</html>