<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">-->
    <title>编辑个人资料</title>
    <meta name="description" />
    <meta name="keywords" />

    <link href="../css/core73.min.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/weui.min.css}">
    <script th:src="@{/js/jquery.min.js}"></script>


</head>

<body class="body_default">

<!-- 性别值 -->
<input hidden type="text" id="sexss" th:value="${session.user.sex}"/>

<style type="text/css">

    a:link, a:visited, a:hover, a:active {
        text-decoration: none;
    }

    .weui_label_override {
        width: 100px;
        margin-bottom: 0px;
        font-weight: normal;
        font-size: 14px;
    }

    .weui_label label {
        margin-bottom: 0px;
    }

    .weui_cell_primary p {
        margin-bottom: 0px;
    }

    .bd {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .weui_select {
        font-size: 14px;
    }

    .weui_cell_ft {
        font-size: 14px;
    }
</style>

<header class="navbar navbar-fixed-top fy-docs-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#fy-navbar" aria-controls="fy-navbar" aria-expanded="false">
                <span class="sr-only">导航切换</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand fy-navbar-brand" href="/" title="摄会社 - 摄影师模特摄影约拍演艺通告平台">
                <div>
                    <img th:src="@{/images/logo.png}" class="fy-navbar-logo" />
                    <span>艺术摄</span>
                </div>
            </a>
        </div>
        <nav id="fy-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="uul">
                <li>
                    <a class="fy-navItem-active" th:href="@{/shoot-user/index}">首页</a>
                </li>
                <li>
                    <a class="login" href="#">关注</a>
                </li>
                <li>
                    <a class="login" href="#">自拍</a>
                </li>
                <li>
                    <a class="login" href="#">主题</a>
                </li>
                <li shiro:hasPermission="query">
                <li th:replace="common/my :: my"></li>
                </li>
                <li>
                    <a id="" class="fy-navItem-notification" href="#">通知</a>
                </li>
                <li>
                    <a class="login" href="#">加入会员</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="fy-docs-nav-distance"></div>
<div class="container js_container bottom_menu_margin_plus">
    <div class="page">
        <div class="bd">
            <div class="weui_cells_title">个人资料</div>
            <div class="weui_cells weui_cells_access global_navs" style="margin-top:0px;">
                <a id="avatar_cell" class="weui_cell" href="javascript:;">
                    <div class="weui_cell_bd weui_cell_primary">
                        <label class="weui_label_override">头像</label>
                    </div>
                    <div class="weui_cell_ft">
                        <img class="img-circle" width="40" height="40" th:src="${tuxiang}"/>
                    </div>
                </a>
                <div id="name_cell" class="weui_cell">
                    <div class="weui_cell_hd"><label class="weui_label_override">昵称</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input id="name_cell_input" class="weui_input" placeholder="请输入昵称" th:value="${session.user.userName}" style="color:#888;padding-left:18px;">
                    </div>
                </div>



                <div class="weui_cell weui_cell_select weui_select_after">
                    <div class="weui_cell_hd">
                        <label class="weui_label_override">性别</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">

                        <select class="weui_select" id="gender_select" name="gender_select">
                            <option value="1" class="sex">男</option>
                            <option value="2" class="sex1">女</option>

                            <script type="text/javascript">
                                var $sex = $(".sex");
                                var $sex1 = $(".sex1");
                                if($("#sexss").val()==1){
                                    $sex.attr("selected","selected");
                                }else {
                                    $sex1.attr("selected","selected");
                                }
                            </script>

                        </select>
                    </div>
                </div>
                <div class="weui_cell weui_cell_select weui_select_after">
                    <div class="weui_cell_hd">
                        <label class="weui_label_override">身份</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <select class="weui_select" id="label_select" name="label_select"><option value="">暂不填</option>
                            <option value="2">摄影师</option>
                            <option value="3">模特</option>
                            <option value="4">网店</option>
                            <option value="5">校园</option>
                            <option selected="selected" value="6">艺术其他</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="weui_cells_title">位置</div>
            <div class="weui_cells weui_cells_access global_navs">
                <a id="location_cell" class="weui_cell" href="javascript:void(0);">
                    <div class="weui_cell_hd weui_cell_primary">
                        <label class="weui_label_override">所在地区</label>
                    </div>
                    <div class="weui_cell_ft">
                        <span th:text="${dizhi}"></span>
                    </div>
                </a>
            </div>

           <!-- <div class="weui_cells_title">手机验证</div>
            <div class="weui_cells weui_cells_form weui_cells_access global_navs">
                <div id="phone_cell" class="weui_cell">
                    <div class="weui_cell_hd"><label class="weui_label_override">手机</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <span style="padding-left:18px;color:#888;">18339281537</span>
                    </div>
                </div>
            </div>-->

            <!--<div class="weui_cells_title">联系方式</div>-->
           <!-- <div class="weui_cells weui_cells_form weui_cells_access global_navs">
                <div id="qq_cell" class="weui_cell">
                    <div class="weui_cell_hd"><label class="weui_label_override">QQ</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input id="qq_cell_input" class="weui_input" placeholder="请输入QQ" value="2738922672" style="color:#888;padding-left:18px;">
                    </div>
                </div>
                <div id="wechat_cell" class="weui_cell">
                    <div class="weui_cell_hd"><label class="weui_label_override">微信</label></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input id="wechat_cell_input" class="weui_input" placeholder="请输入微信号" value="abc2738922672" style="color:#888;padding-left:18px;">
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    <br />
    <br />
</div>

<input id="hidden_returnUrl" type="hidden" value="/u/editprofile?update=location" />

<div class="weui_dialog_confirm" id="typein_dialog" style="display:none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">请输入？</strong></div>
        <div class="weui_dialog_bd">
            <input id="typein_dialog_input" class="weui_input" value="" style="margin-left:5px;padding-left:5px;padding-right:5px;height:2em;color:black;border: 1px solid #d1d1d1;">
        </div>
        <div class="weui_dialog_ft">
            <a id="typein_cancel_button" href="javascript:;" class="weui_btn_dialog default">放弃</a>
            <a id="typein_save_button" href="javascript:;" class="weui_btn_dialog primary">保存</a>
        </div>
    </div>
</div>

<div id="toast_update_success" style="display: none;">
    <!-- 图片名称 -->
    <input type="text" hidden id="touxiang01" th:text="${session.user.portyaitl}">

    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <i class="weui_icon_toast"></i>
        <p id="toast_follow_text" class="weui_toast_content">已更新</p>
    </div>
</div>


<div id="notification_panel" style="position:fixed;">
    <div class="data_posts">
        <div class="data_post_cell" style="text-align:center;">
            <a class="btn btn-xs btn-primary" role='button' href="/notification">加载中</a>
        </div>
    </div>
</div>

<!-- 图片属性赋值 -->
<script type="text/javascript">

    /*$(document).ready(function () {
        var text = $("#touxiang01").text();
        alert(text);
        $(".img-circle").attr("src","/images/"+text);
    });*/

</script>

<script th:src="@{/js/notlogin.js}"></script>


</body>
</html>