<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>发布信息 - 艺术摄</title>
    <meta name="description"/>
    <meta name="keywords"/>

    <link href="../css/core73.min.css" rel="stylesheet"/>
    <script th:src="@{/js/jquery.min.js}"></script>

</head>
<body class="body_default">

<style type="text/css">
    .fileupload_image {
        width: 100%;
        height: 100%;
        cursor: pointer
    }

    .file-wrapper {
        cursor: pointer;
        overflow: hidden
    }

    .fileinput {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 100px;
        z-index: 2;
        opacity: .01;
        filter: alpha(opacity=0);
        -ms-filter: alpha(opacity=0);
        -khtml-opacity: 0;
        -moz-opacity: 0;
        cursor: pointer
    }

    #fileupload_box, #fileupload_box2 {
        float: left;
        margin-right: 4px;
        margin-bottom: 4px
    }

    .fileupload {
        background-color: #fff;
        width: 80px;
        height: 80px;
        text-align: center;
        font-weight: 700;
        border: 1px dashed #b0b0b0;
        display: inline-block;
        position: relative;
        overflow: hidden;
        cursor: pointer
    }

    .fileupload_label {
        cursor: pointer;
        position: absolute;
        top: 35%;
        left: 10px;
        margin-top: -20px
    }

    .fileupload_sign {
        cursor: pointer;
        color: #cecece;
        font-size: 30px;
        position: absolute;
        top: 15px;
        left: 30px
    }

    .fileupload_small {
        background-color: #6B7336;
        width: 80px;
        height: 30px;
        text-align: center;
        font-weight: 700;
        border: 1px solid #b0b0b0;
        display: inline-block;
        position: relative;
        top: 10px;
        overflow: hidden;
        cursor: pointer
    }

    .fileupload_label_small {
        cursor: pointer;
        color: #fff;
        position: absolute;
        top: 3px;
        left: 10px
    }

    .fileupload_small_wechat {
        height: 45px;
        top: 0
    }

    .fileupload_label_small_wechat {
        cursor: pointer;
        color: #fff;
        position: absolute;
        top: 3px;
        left: 0
    }

    .in {
        width: 600px;
        height: 200px;
        line-height: 200px;
        font-size: larger
    }

    .hover {
        background: #7cfc00
    }

    .fade {
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
        opacity: 1
    }

    .itemimage_container {
        width: 80px;
        height: 80px;
        border: 1px solid gray;
        margin-right: 2px;
        margin-bottom: 2px
    }

    .itemimage {
        width: 80px;
        height: 80px;
        margin-right: 4px;
        margin-bottom: 4px
    }

    .itemimage_selected {
        border: 2px solid #EB6767
    }

    <!-- 标签点击选择样式  -->
    .biaoqian {
        background: #0E4675;
    }

</style>

<header class="navbar navbar-fixed-top fy-docs-nav" id="top" role="banner">

    <!-- 导航条 -->
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#fy-navbar" aria-controls="fy-navbar" aria-expanded="false">
                <span class="sr-only">导航切换</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand fy-navbar-brand" href="/" title="摄会社 - 摄影师模特摄影约拍演艺通告平台">
                <div>
                    <img src="../images/logo.png" class="fy-navbar-logo" />
                    <span>艺术摄</span>
                </div>
            </a>
        </div>
        <nav id="fy-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="uul">
                <li>
                    <a th:href="@{/shoot-user/index}">首页</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-attention/attention}">关注</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-theme/zipai}">自拍</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-theme/top}">主题</a>
                </li>
                <li shiro:hasPermission="query">
                <li th:replace="common/my :: my"></li>
                </li>
            </ul>
        </nav>
    </div>

</header>

<div class="fy-docs-nav-distance"></div>

<div class="container bottom_menu_margin_plus xzero_padding" ng-app="wx_create_app"
     ng-controller="wx_create_controller">
    <div class="row" style="margin-left:0px;margin-right:0px;">
        <div class="col-sm-9" style="padding-left:0px;padding-right:0px;">
            <form id="submit_form" method="post" th:action="@{/shoot-info/addInfo}" enctype="multipart/form-data">
                <input name="__RequestVerificationToken" type="hidden"
                       value="CfDJ8N5cY4r00glLgFjYCU2NQn77SjsnyNVWUn7ennc6k9harV5kp27yt3ldFAcC9XeHMa_cJCzDTCehh63u8ZOWj8tCwTWpuySlW1LGZB-PhrURV_KbKnF9kFPOCOXlNobAUlzt5RtZoTMF3q6r847_OgM"/>
                <div class="validation-summary-valid" data-valmsg-summary="true">
                    <ul>
                        <li style="display:none"></li>
                    </ul>
                </div>
                <input data-val="true" data-val-required="The ID field is required." id="ID" name="ID" type="hidden"
                       value="0"/>
                <input data-val="true" data-val-required="The TopicID field is required." id="TopicID" name="TopicID"
                       type="hidden" value="0"/>
                <input id="TopicTitle" name="TopicTitle" type="hidden" value=""/>
                <input id="ActionToken" name="ActionToken" type="hidden" value="y153494063714366469671745512"/>
                <div class="data_posts">
                    <div class="data_post_cell" style="text-align:center;">
                        <span class="data_group_title_bold" th:text="${themName}">发布信息</span>
                    </div>
                    <input hidden th:value="${id}" name="themeId">
                    <div class="data_post_cell_dotted">
                        <label class="label_blue">分类：</label>
                        <span class="label_required">[必填]</span>
                        <div class="v10_margin">
                            <select class="form-control form_control_inline fy_form_control" id="ThreadGroup"
                                    name="typeId">
                                <option value="1">约拍</option>
                                <option value="2">通告</option>
                                <option value="3">活动</option>
                                <option value="4">演出</option>
                                <option value="5">找人</option>
                                <option value="6">冒泡</option>
                            </select>
                        </div>
                    </div>

                    <div class="data_post_cell_dotted">
                        <label class="label_blue">地区：</label>
                        <span class="label_required">[必填]</span>
                        <div class="v10_margin">
                            <select class="form-control form_control_inline fy_form_control" id="prow"
                                    onchange="showCity(this)">
                                <option value="">请选择省</option>

                            </select>
                            <select id="city" class="form-control form_control_inline fy_form_control"
                                    onchange="showCountry(this)">
                                <option value="">请选择市</option>

                            </select>
                            <select id="country"
                                    class="form-control form_control_inline fy_form_control">
                                <option value="">请选择区</option>

                            </select>
                        </div>
                    </div>

                    <div class="data_post_cell_dotted">
                        <label class="label_blue">费用：</label>
                        <span class="label_required">[必填]</span>
                        <div class="v5_margin">
                            <input id="FeeType" name="FeeType" type="hidden" value=""/>
                            <div class="radio">
                                <label>
                                    <input class="option" type="radio" name="costId" value="1"/>
                                    希望互免
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input class="money" type="radio" name="costId" value="2"/>
                                    需要收费
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input class="money" type="radio" name="costId" value="3"/>
                                    愿意付费
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input class="option" type="radio" name="costId" value="4"/>
                                    费用协商
                                </label>
                            </div>
                        </div>

                        <div id="FeeValueInput" class="v10_margin" style="display:none;">
                            <div class="input-group">
                                <input class="form-control" id="FeeValue" name="price" type="number" placeholder="请输入金额"/>
                                <div class="input-group-addon">元</div>
                            </div>
                        </div>
                    </div>

                    <div class="data_post_cell_dotted">
                        <label class="label_blue">限制：</label>
                        <span class="label_required">[必填]</span>
                        <div class="v10_margin">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="requireRoles" value="1" checked/>
                                    接受所有人的请求
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="requireRoles" value="2"/>
                                    只接受摄会社Club会员请求
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="data_post_cell_dotted">
                        <label class="label_blue">保障：</label>
                        <div class="v10_margin">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="requireSecurityAccount" value="1"/>
                                    要求对方存入信用保证金
                                </label>
                                <a id="btn_security_account_about" class="btn btn-default btn-xs"
                                   href="javascript:;" role="button">查看说明</a>
                            </div>
                        </div>
                    </div>
                    <div class="data_post_cell_dotted">
                        <label class="label_blue">发布内容：</label>
                        <span class="label_required">[必填]</span>
                        <div class="field_attached_comment v5_margin">为了保障隐私，请勿在此处包含联系方式（否则审核不会通过）</div>
                        <div class="v10_margin">
                            <textarea class="auto_textarea_editor input_gray" id="Message" name="content"
                                      placeholder="比如自我介绍，对应征者的要求等（勿留联系方式，发布后，有人应征即可看到对方的联系方式）"
                                      style="height:100px;"></textarea>
                        </div>
                    </div>
                    <div class="data_post_cell_dotted">
                        <label class="label_blue">时间说明：</label>
                        <div class="v10_margin">
                            <textarea class="auto_textarea_editor input_gray" id="takeTime" name="takeTime"
                                      maxlength="200" placeholder="选填" style="height:30px;"></textarea>
                        </div>
                    </div>
                    <div class="data_post_cell_dotted">
                        <label class="label_blue">地点说明：</label>
                        <div class="v10_margin">
                            <textarea class="auto_textarea_editor input_gray" id="takeLocation" name="takeLocation"
                                      maxlength="200" placeholder="选填" style="height:30px;"></textarea>
                        </div>
                    </div>
                    <div class="data_post_cell_dotted">
                        <label class="label_blue">其他说明：</label>
                        <div class="v10_margin">
                            <textarea class="auto_textarea_editor input_gray" id="takeResult" name="takeResult"
                                      maxlength="500" placeholder="选填" style="height:30px;"></textarea>
                        </div>
                    </div>
                    <div class="data_post_cell_dotted">
                        <label class="label_blue">标签：</label>
                        <span class="data_meta_info">请选择标签</span>
                        <div id="tag_list" class="v10_margin">
                            <span class="select_item" val="1">情侣</span>
                            <span class="select_item" val="2">商务</span>
                            <span class="select_item" val="3">民国</span>
                            <span class="select_item" val="4">汉服</span>
                            <span class="select_item" val="5">孕照</span>
                            <span class="select_item" val="6">儿童摄影</span>
                            <span class="select_item" val="7">暗黑</span>
                            <span class="select_item" val="8">情绪</span>
                            <span class="select_item" val="9">夜景</span>
                            <span class="select_item" val="10">校园</span>
                            <span class="select_item" val="11">妆容</span>
                            <span class="select_item" val="12">古风</span>
                            <span class="select_item" val="13">淘宝</span>
                            <span class="select_item" val="14">时尚</span>
                            <span class="select_item" val="15">和服</span>
                            <span class="select_item" val="16">旗袍</span>
                            <span class="select_item" val="17">韩系</span>
                            <span class="select_item" val="18">欧美</span>
                            <span class="select_item" val="19">森系</span>
                            <span class="select_item" val="20">少女</span>
                            <span class="select_item" val="21">宝丽来</span>
                            <span class="select_item" val="22">清新</span>
                            <span class="select_item" val="23">婚礼</span>
                            <span class="select_item" val="24">cosplay</span>
                            <span class="select_item" val="25">胶片</span>
                            <span class="select_item" val="26">黑白</span>
                            <span class="select_item" val="27">纪实</span>
                            <span class="select_item" val="28">日系</span>
                        </div>
                        <input id="styleName" name="styleName" type="hidden" value=""/>
                    </div>

                    <div class="data_post_cell_dotted">
                        <label class="label_blue">附加照片（最多9张，单张照片大小请不要超过20M）：</label>
                        <div class="field_attached_comment v5_margin">请上传您的个人照片或者作品，请勿盗图</div>
                        <div class="v5_margin" id="destination">
                            <div id="fileupload_box" class="fileupload">

                                    <span class="file-wrapper">
                                        <span class="fileupload_sign">+</span>
                                            <input class="fileinput" id="pic_selector" type="file"
                                                   name="imagesNamg"  multiple="multiple" onchange="readFile();"><!--multiple，可选择多张图片-->
                                    </span>

                            </div>

                            <!--<img ng-repeat="image in screenshots" ng-src="{{image.url}}" ng-show="image.url"
                                 ng-click="imageClick($event.target)"
                                 data-value="{{image.id}}" data-name="{{image.name}}"
                                 class="itemimage"/>-->

                            <input id="JsonImages" name="JsonImages" type="hidden" value=''/>

                        </div>

                        <div class="form-submit-row">

                            <button id="delete-button" type="button" class="btn btn-danger btn-sm"
                                    style="display:none;">删除图片
                            </button>

                            <button id="uploding-button" type="button" class="btn btn-default btn-sm"
                                    style="display:none;">请稍后，上传图片中...
                            </button>

                        </div>

                        <!--<div class="field_attached_comment" ng-show="screenshots.length">选中图片，可删除后重新上传</div>-->
                    </div>

                    <div class="v15_margin" style="text-align:center;">
                        <button id="submit_button" type="submit" class="btn btn-success btn-sm form_large_button">提交
                        </button>
                        <a role="button" class="btn btn-default btn-sm btn_cancel form_medium_button"
                           data-url="/" >取消</a>
                    </div>

                </div>

                <!-- 存放地址input隐藏标签 -->
                <tr>
                    <td><input name="prow" id="p" type="text" hidden="hidden"></td>
                    <td><input name="city" id="c" type="text" hidden="hidden"></td>
                    <td><input name="country" id="u" type="text" hidden="hidden"></td>
                </tr>

            </form>

            <div class="v20_margin"></div>
            <br/>
            <br/>
        </div>
        <div class="col-sm-3 fy-rside-panel fy-hidden-xs" style="padding-left:20px;">
            <div class="data_posts">
                <div class="data_post_cell">
                    <span class="data_group_title">注意事项</span>
                </div>
                <div class="data_post_cell">
                    <div class="data_meta_info">
                        1 了解摄会社运行机制：发布信息，有意的模特或摄影应征发起请求，你就可以看到对方联系方式。同样你发起请求对方也可以看到你的联系方式。
                        <br/>
                        <br/>
                        注：勿在信息和图片中留联系方式。
                    </div>
                    <div class="data_meta_info v15_margin">
                        2 摄会社作品发布原则：我们默认所有摄影、模特、化妆师等发布的图片/相册/作品均为个人原创作品，尊重他人劳动成果和作品。
                        <br/>
                        <br/>
                        注：引用他人作品务必注明来源和出处，明确表明非个人作品，如被原摄影投诉侵删。
                    </div>
                    <div class="data_meta_info v15_margin">
                        3 信息发布请遵循相关法律法规、道德伦理和摄会社社区发布原则。
                        <br/>
                        <br/>
                        注：作品照片禁露点。
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="toast_message" style="display: none;">
    <div class="weui_toast">
        <p id="toast_message_text" class="weui_toast_content"
           style="margin-top:30px;margin-left:10px;margin-right:10px;">
        </p>
    </div>
</div>


<div class="weui_dialog_confirm" id="security_account_about_dialog" style="display:none;">
    <div class="weui_mask" style="z-index:12;"></div>
    <div class="weui_dialog data_posts popup_dialog" style="text-align:left;">
        <div class="data_post_cell_sm">
            <span class="data_group_title_bold">用户存入信用保证金后须遵守：</span>
            <div style="float:right;">
                <a role="button" class="btn btn-default btn-xs" href="javascript:void(0);"
                   onclick="$(this).parent().parent().parent().parent().hide();">关闭</a>
            </div>
        </div>
        <div class="data_post_cell_sm">
            <span class="data_meta_text">1 在交流以及拍摄过程中，不会有恶意欺骗行为<br>2 在交流以及拍摄过程中，不能骚扰对方<br>3 如果在联系确认已经达成拍摄约定后，不会随意毁约<br>4 对于摄影师，拍摄完成后，会按照约定返片给对方<br>5 在对方没有同意的情况下，不会公开对方隐私<br>6 在发起新的约拍和请求后，保证金可提现时间会延迟</span>
        </div>
    </div>
</div>

<script th:src="@{/js/style.js}"></script>

<!-- 多张照片选择显示页面 -->
<script type="text/javascript">
    var destination = document.getElementById('destination');
    document.getElementById('pic_selector').addEventListener('change', function() {
        var file;
        //destination.innerHTML = '';//每次清空内容
        // 循环用户多选的文件
        for(var x = 0, xlen = this.files.length; x < xlen; x++) {
            file = this.files[x];
            console.log(file);
            if(file.type.indexOf('image') != -1) {   // 非常简单的交验，判断文件是否是图片
                var reader = new FileReader();   //文件预览对象
                reader.readAsDataURL(file);      //设置要预览的文件
                reader.onload = function(e) {    //监听文件加载完成事件
                    var img = new Image();       //创键预览图片
                    img.width=80;
                    img.height=80;
                    img.margin=5,5;
                    img.src = e.target.result;   //把预览图片的src设置为e.target.result属性。返回预览文件的二进制内存数据
                    destination.appendChild(img);    //在把每张图片，放到预览区域
                };
            }
        }
    });
</script>

<!-- 标签单击添加样式 再单击去掉样式  费用框显示隐藏-->
<script type="text/javascript">

       $(document).ready(function () {
           //标签样式
            $(".select_item").click(function () {
                var hasClass = $(this).hasClass("biaoqian");
                if(hasClass){
                    $(this).css("background","");
                    $(this).removeClass("biaoqian");
                }else {
                    $(this).css("background","#1b6d85");
                    $(this).addClass("biaoqian");
                }
            });


            //费用框隐藏
            $(".option").click(function () {
                $("#FeeValueInput").hide();
            });
            //费用框显示
            $(".money").click(function () {
                $("#FeeValueInput").show();
            });

            $("#btn_security_account_about").click(function () {
                //$("#security_account_about_dialog").show();
                alert("1 在交流以及拍摄过程中，不会有恶意欺骗行为\n" +
                    "2 在交流以及拍摄过程中，不能骚扰对方\n" +
                    "3 如果在联系确认已经达成拍摄约定后，不会随意毁约\n" +
                    "4 对于摄影师，拍摄完成后，会按照约定返片给对方\n" +
                    "5 在对方没有同意的情况下，不会公开对方隐私\n" +
                    "6 在发起新的约拍和请求后，保证金可提现时间会延迟");
            });

       });

</script>

<!-- 地址信息 -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#submit_button").click(function () {
            var proText=document.getElementById("prow");
            var prow=document.getElementById("p");
            var index=proText.selectedIndex;
            prow.value=proText.options[index].innerText;
            var proText=document.getElementById("city");
            var city=document.getElementById("c");
            var index=proText.selectedIndex;
            city.value=proText.options[index].innerText;
            var proText=document.getElementById("country");
            var country=document.getElementById("u");
            var index=proText.selectedIndex;
            country.value=proText.options[index].innerText;
            
            //获取选择标签的text
            var $styleName = $("#styleName");
            var name="";
            var selectItem = $(".select_item");
            selectItem.each(function () {
                if($(this).hasClass("biaoqian")){
                    name=name+" "+$(this).attr("val");
                }
            });
            $styleName.val(name);
        });
    })
</script>

<script th:src="@{/js/city.js}" type="text/javascript"></script>
<script th:src="@{/js/method.js}" type="text/javascript"></script>
<script th:src="@{/js/notlogin.js}" type="text/javascript"></script>

</body>
</html>