<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.photography.shootinfo.mapper.ShootInfoMapper">

    <insert id="addInfo" useGeneratedKeys="true" keyProperty="id">
         INSERT INTO shoot.shoot_info
	(content, price, takeTime, takeLocation, takeResult,
	creationDate, typeId, costId, requireRoles,requireSecurityAccount,shootAddressId,stateId,userId
	)VALUES (#{content},#{price},#{takeTime},#{takeLocation},#{takeResult},#{creationDate},
	#{typeId},#{costId},#{requireRoles},#{requireSecurityAccount},#{shootAddressId},1,#{userId})
    </insert>

	<!-- 约拍信息首页 -->
	<resultMap id="info01" type="ShootInfo">
		<id property="id" column="id"></id>
		<association property="shootUser" javaType="ShootUser">
			<id property="id" column="u_id"></id>
			<collection property="roles" ofType="ShootRole">
				<id property="id" column="r_id"></id>
			</collection>
		</association>
		<association property="shootType" javaType="ShootType">
			<id property="id" column="t_id"></id>
		</association>
		<association property="shootCost" javaType="ShootCost">
			<id property="id" column="st_id"></id>
		</association>
		<association property="shootAddress" javaType="ShootAddress">
			<id property="id" column="a_id"></id>
			<association property="shootProw" javaType="ShootProw">
				<id property="id" column="p_id"></id>
			</association>
			<association property="shootCity" javaType="ShootCity">
				<id property="id" column="c_id"></id>
			</association>
			<association property="shootCountry" javaType="ShootCountry">
				<id property="id" column="co_id"></id>
			</association>
		</association>
	</resultMap>
	<select id="getInfo" resultMap="info01">
		SELECT i.*,u.id u_id,u.member,u.portyaitl,u.securityMoney,u.userName,
		t.id t_id,t.typeName,st.id st_id,st.costName,r.id r_id,r.roleName,
		a.id a_id,p.id p_id,p.prow,c.id c_id,c.city,co.id co_id,co.country
		FROM shoot_info i
        INNER JOIN shoot_user u ON i.userId=u.id
        INNER JOIN shoot_type t ON i.typeId=t.id
        INNER JOIN shoot_cost st ON i.costId=st.id
        INNER JOIN shoot_user_role ur ON ur.userId=u.id
        INNER JOIN shoot_role r ON r.id=ur.roleId
        INNER JOIN shoot_address a ON a.id=i.shootAddressId
        INNER JOIN shoot_prow p ON a.prow_id=p.id
        INNER JOIN shoot_city c ON a.city_id=c.id
        INNER JOIN shoot_country co ON a.country_id=co.id
        <where>
			i.stateId=1
			<if test="city!='' and city!=null">
				and c.city=#{city}
			</if>
			<if test="costId!=0 and costId>0">
				and st.id=#{costId}
			</if>
			<if test="roleId!=0 and roleId>0">
				and r.id=#{roleId}
			</if>
			<if test="sex!=0 and sex>0">
				and u.sex=#{sex}
			</if>
		</where>
		order by i.creationDate desc
	</select>

    <!-- 约拍信息详情页 -->
	<resultMap id="info02" type="ShootInfo">
		<id property="id" column="id"></id>
		<association property="shootUser" javaType="ShootUser">
			<id property="id" column="u_id"></id>
			<collection property="roles" ofType="ShootRole">
				<id property="id" column="r_id"></id>
			</collection>
		</association>
		<association property="shootType" javaType="ShootType">
			<id property="id" column="t_id"></id>
		</association>
		<association property="shootCost" javaType="ShootCost">
			<id property="id" column="st_id"></id>
		</association>
		<association property="shootAddress" javaType="ShootAddress">
			<id property="id" column="a_id"></id>
			<association property="shootProw" javaType="ShootProw">
				<id property="id" column="p_id"></id>
			</association>
			<association property="shootCity" javaType="ShootCity">
				<id property="id" column="c_id"></id>
			</association>
			<association property="shootCountry" javaType="ShootCountry">
				<id property="id" column="co_id"></id>
			</association>
		</association>
		<association property="shootInfoStyle" javaType="ShootInfoStyle">
			<id property="id" column="sty_id"></id>
			<collection property="shootStyles" ofType="ShootStyle">
				<id property="id" column="yl_id"></id>
			</collection>
		</association>
	</resultMap>
	<select id="getInfoById" resultMap="info02">
		SELECT i.*,u.id u_id,u.member,u.portyaitl,u.securityMoney,u.userName,
		t.id t_id,t.typeName,st.id st_id,st.costName,r.id r_id,r.roleName,
		a.id a_id,p.id p_id,p.prow,c.id c_id,c.city,co.id co_id,co.country,
		sty.id sty_id,yl.id yl_id,yl.styleName
		FROM shoot_info i
		INNER JOIN shoot_user u ON i.userId=u.id
		INNER JOIN shoot_type t ON i.typeId=t.id
		INNER JOIN shoot_cost st ON i.costId=st.id
		INNER JOIN shoot_user_role ur ON ur.userId=u.id
		INNER JOIN shoot_role r ON r.id=ur.roleId
		INNER JOIN shoot_address a ON a.id=i.shootAddressId
		INNER JOIN shoot_prow p ON a.prow_id=p.id
		INNER JOIN shoot_city c ON a.city_id=c.id
		INNER JOIN shoot_country co ON a.country_id=co.id
		LEFT JOIN shoot_info_style sty ON sty.infoId=i.id
		LEFT JOIN shoot_style yl ON sty.styleId=yl.id
		<where>
             i.id=#{id}
   		</where>
	</select>



</mapper>
