<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="Bookmark" href="favicon.ico" >
	<link rel="Shortcut Icon" href="favicon.ico" />

	<link th:href="@{/lib/html5.js}" rel="stylesheet">
	<link th:href="@{/lib/respond.min.js}" rel="stylesheet">
	<![endif]-->
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
	<link th:href="@{/h-ui/css/H-ui.min.css}" rel="stylesheet">
	<link th:href="@{/h-ui.admin/css/H-ui.admin.css}" rel="stylesheet">
	<link th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" rel="stylesheet">
	<link th:href="@{/h-ui.admin/skin/default/skin.css}" rel="stylesheet">
	<link th:href="@{/h-ui.admin/css/style.css}" rel="stylesheet">
	<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
	<script>DD_belatedPNG.fix('*');</script>
	<link href="../css/core73.min.css" rel="stylesheet">
	<script th:src="@{/js/jquery.min.js}"></script>
	<title>用户管理 - 管理员管理 - H-ui.admin v3.0</title>
</head>
<body>
<header class="navbar-wrapper">
	<header class="navbar-wrapper">
		<div class="navbar navbar-fixed-top">
		</div>
	</header>
	<aside class="Hui-aside">
		<div class="menu_dropdown bk_2">
			<dl id="menu-admin">
				<dt class="selected"><i class="Hui-iconfont">&#xe62d;</i> 用户信息管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
				<dd style="display: block;">
					<ul>
						<li><a th:href="@{/shoot-houtai-user/love}" title="用户信息管理">用户管理</a></li>
						<li>
							<a th:href="@{/shoot-permission/permission(current=1)}" title="权限管理">权限管理</a>
						</li>
						<li>
							<a th:href="@{/shootstaticsh/shenhe/(current=1)}" title="权限管理">审核管理</a>
						</li>
						<li>
							<a th:href="@{/shoot-houtai-user/select}" title="角色管理">角色管理</a>
						</li>
					</ul>
				</dd>
			</dl>
		</div>
	</aside>
	<section class="Hui-article-box">
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i>首页<span class="c-gray en">&gt;</span>管理员管理<span class="c-gray en">&gt;</span> 用户管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
		<div class="Hui-article">
			<article class="cl pd-20">
			<table class="table table-border table-bordered table-bg">
				<thead>
					<tr>
						<th scope="col" colspan="7">权限节点</th>
					</tr>
					<tr class="text-c">
						<th width="40">ID</th>
						<th width="100">用户名称</th>
						<th>用户权限</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody th:each="per,index: ${info}">
					<tr class="text-c">
						<td th:text="${per.id}"></td>
						<td th:text="${per.UserName}"></td>
						<td th:each="ro: ${per.Roles}">
							<ul th:each="pp:${ro.Permissions}">
								<li th:text="${pp.PermissionName}"></li>
							</ul>
						</td>
						<td><a th:href="@{/shoot-permission/updper(id=${per.id})}">修改</a></td>
					</tr>
				</tbody>
			</table>
			<!-- 分页 数据 当前页 总页数 -->
			<tr>
				<td hidden>
					<input hidden type="text" th:value="${current}" id="current">
					<input hidden type="text" th:value="${pages}" id="pages">
				</td>
			</tr>

			<!-- 翻页按钮 -->
			<div class="container pager_container">
				<nav>
					<ul class="pager">
						<li>
							<a href="javascript:;" id="prev" aria-label="Previous">
								<span>上一页</span>
							</a>
						</li>
						<li>
							<a>
								<span th:text="'当前页'+${current}+'/'+${pages}"></span>
							</a>
						</li>
						<li>
							<a href="javascript:;" id="next" aria-label="Next">
								<span>下一页</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>

			<!-- 分页js -->
			<script type="text/javascript">
				$(document).ready(function () {
					var idd=$("#idd").val();
					$("#prev").click(function () {
						var current = Number($("#current").val())-1;
						location.href = "/shoot-permission/permission?current=" + current;
					});
					$("#next").click(function () {
						var current = Number($("#current").val())+1;
						if(current>=Number($("#pages").val())){
							current=Number($("#pages").val());
						}
						location.href = "/shoot-permission/permission?current=" + current;
					})
				})
			</script>
		</article>
	</div>
</section>

<!--_footer 作为公共模版分离出去-->
<link th:href="@{/lib/jquery/1.9.1/jquery.min.js}" rel="stylesheet">
<link th:href="@{/lib/layer/2.4/layer.js}" rel="stylesheet">
<link th:href="@{/h-ui/js/H-ui.js}" rel="stylesheet">
<link th:href="@{/h-ui.admin/js/H-ui.admin.page.js}" rel="stylesheet">
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<link th:href="@{/lib/My97DatePicker/4.8/WdatePicker.js}" rel="stylesheet">
<link th:href="@{/lib/datatables/1.10.0/jquery.dataTables.min.js}" rel="stylesheet">
<link th:href="@{/lib/laypage/1.2/laypage.js}" rel="stylesheet">
</header>
</body>
</html>