<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>permission</title>
</head>
<body>
<form action="/shoot-permission/ins" method="post">
    用户昵称:<input type="text" th:value="${info.get(0).getUserCode()}"/><br>
    用户权限:<table th:each="per,index: ${info}">
<tr class="text-c">
    <td th:text="${per.id}"></td>
    <input th:value="${per.id}" hidden name="pid"/>
    <td th:text="${per.UserName}"></td>
    <td th:each="ro: ${per.Roles}">
        <input th:value="${ro.id}" hidden name="rid"/>
        <select name="select" >
            <p th:each="pp:${ro.Permissions}"><option th:value="${pp.id}" th:text="${pp.PermissionName}"></option>
            </p>
        </select>
    </td>
</tr>
</table>
 权限: <select name="sele1">
        <option value="1">query</option>
        <option value="2">add</option>
        <option value="3">update</option>
        <option value="4">delete</option>
    </select><input name="zzjj" type="submit" value="修改"/><br>
<!--    <input hidden id="rriidd" name="rid"/>-->
        <select name="sele">
            <option value="1">query</option>
            <option value="2">add</option>
            <option value="3">update</option>
            <option value="4">delete</option>
        </select>
        <input name="zzjj" type="submit" value="增加"/><br>
    权限: <select name="select2">
    <option value="1">query</option>
    <option value="2">add</option>
    <option value="3">update</option>
    <option value="4">delete</option>
</select><input name="zzjj" type="submit" value="删除"/>
</form>
</body>
<!--<script>
    function onform() {
        var pidd=$(".piid").val();
        $.ajax({
            type:"POST",
            url:"/shoot-permission/ins",
            data:{pid:pidd},
            dataType:JSON,
            success:function () {
                alert("成功提交")
            }

        })
    }


</script>-->
</html>