<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.photography.shootuser.mapper.ShootUserMapper">

    <insert id="insertUser" parameterType="ShootUser" useGeneratedKeys="true" keyProperty="id">
        insert into shoot_user (userCode,userName,userPassword,sex,creationDate,portyaitl,phone,shootAddressId)
         values (#{userCode},#{userName},#{userPassword},#{sex},#{creationDate},#{portyaitl},#{phone},#{shootAddressId})
    </insert>

    <resultMap id="user" type="ShootUser">
        <id property="id" column="id"></id>
        <result property="userName" column="userName"></result>
        <collection property="roles" ofType="ShootRole" resultMap="role"></collection>
    </resultMap>
    <resultMap id="role" type="ShootRole">
        <id property="id" column="r_id"></id>
        <result property="roleName" column="roleName"></result>
        <collection property="permissions" ofType="ShootPermission" resultMap="permissions"></collection>
    </resultMap>
    <resultMap id="permissions" type="ShootPermission">
        <id property="id" column="pe_id"></id>
        <result property="permissionName" column="permissionName"></result>
    </resultMap>

    <select id="loginByUserCode" resultMap="user">
        SELECT u.*,r.id r_id,r.roleName,pe.id pe_id,pe.permissionName
        FROM shoot_user u
        INNER JOIN shoot_user_role ur ON u.id=ur.userId
        INNER JOIN shoot_role r ON ur.roleId=r.id
        INNER JOIN shoot_role_permission rp ON r.id=rp.roleId
        INNER JOIN shoot_permission pe ON rp.PermissionId=pe.id
        WHERE u.userCode=#{userCode}
    </select>

    <resultMap id="personage" type="ShootUser">
        <id property="id" column="id"></id>
        <association property="shootAddress" javaType="ShootAddress">
            <id property="id" column="a_id"></id>
            <association property="shootProw" javaType="ShootProw">
                <id property="id" column="p_id"></id>
            </association>
            <association property="shootCity" javaType="ShootCity">
                <id property="id" column="c_id"></id>
            </association>
        </association>
        <collection property="roles" ofType="ShootRole">
            <id property="id" column="r_id"></id>
        </collection>
    </resultMap>

    <select id="personageByUserCode" resultMap="personage">
        SELECT u.*,r.id r_id,r.roleName,p.id p_id,p.prow,c.id c_id,c.city,a.id a_id
         FROM shoot_user u
        INNER JOIN shoot_user_role ur ON u.id=ur.userId
        INNER JOIN shoot_role r ON ur.roleId=r.id
        INNER JOIN shoot_address a ON u.shootAddressId=a.id
        INNER JOIN shoot_prow p ON a.prow_id=p.id
        INNER JOIN shoot_city c ON a.city_id=c.id
        <where>
            u.userCode=#{userCode}
        </where>
    </select>

</mapper>