<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.photography.shootuser.mapper.ShootUserRoleMapper">
	<!--<resultMap id="user" type="ShootUserRole">
		<id property="id" column="id"></id>
		<result property="roleName" column="roleName"></result>
	</resultMap>-->
	<select id="selebyuid" resultType="ShootUserRole" parameterType="ShootUser">
		SELECT 	id,
	userId,
	roleId
	FROM
	shoot.shoot_user_role WHERE userId=#{id}
	</select>
</mapper>
