<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>河南郑州模特 喜欢拍照留下回忆 - 摄会社 - 摄影师模特摄影约拍演艺通告平台</title>
    <meta name="description" />
    <meta name="keywords" />

    <script th:src="@{/js/jquery.min.js}"></script>
    <link href="../css/core73.min.css" rel="stylesheet" />

</head>
<body class="body_default">

<!-- 导航条 -->
<header class="navbar navbar-fixed-top fy-docs-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#fy-navbar" aria-controls="fy-navbar" aria-expanded="false">
                <span class="sr-only">导航切换</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand fy-navbar-brand" href="/" title="摄会社 - 摄影师模特摄影约拍演艺通告平台">
                <div>
                    <!--<img src="../../static/images/logo.png" class="fy-navbar-logo" />-->
                    <img th:src="@{../images/logo.png}" class="fy-navbar-logo">
                    <span>摄会社</span>
                </div>
            </a>
        </div>
        <nav id="fy-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="uul">
                <li>
                    <a class="fy-navItem-active" href="#">首页</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-selfie/att}">关注</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-selfie/zipai}">自拍</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-selfie/top}">主题</a>
                </li>
                <li shiro:hasPermission="query">
                <li th:replace="common/my :: my"></li>
                </li>
                <li>
                    <a id="" class="fy-navItem-notification" href="#">通知</a>
                </li>
                <li>
                    <a class="login" href="#">加入会员</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="fy-docs-nav-distance"></div>

<div class="container bottom_menu_margin_plus xzero_padding">
    <div class="row" style="margin-left:0px;margin-right:0px;">

        <!-- 显示约拍信息展示区 -->
        <div class="col-sm-9 xzero_padding">

            <!-- 详情 -->
            <div class="data_posts">
                <div class="data_post_cell user_info_cell">

                    <div class="user_info_cell_avatar">

                        <!-- 头像 -->
                        <a class="data_post_author_title_link" href="/u/822903">
                            <img class="img-circle data_avatar_small2"  th:src="${info.shootUser.portyaitl}"/>
                        </a>

                    </div>
                    <div style="float:right;">

                        <a class="btn btn-sm btn_follow btn_follow_user btn-success" data-login="1" data-to="822903" href="javascript:;">关注</a>

                    </div>
                    <div class="user_info_cell_content">
                        <a class="data_post_author_title_link" href="/u/822903">
                            <span class="data_post_author_title" th:text="${info.shootUser.userName}">日久&#x1F36B; &#x1F505;</span>
                        </a>
                        <i class="web_wechat_women"></i>

                        <!-- 身份 角色 -->
                        <div>
                            <span class="data_meta_info_xs" th:text="${info.shootUser.roles.get(0).roleName}">模特</span>
                        </div>

                    </div>

                    <!-- 手机验证 -->
                    <div class="v10_margin">
                        <span class="label label-warning">手机验证</span>
                    </div>

                    <div class="v15_margin">
                        <div id="UserInfoPanel" class="row" style="margin-left:0px;margin-right:0px;">

                            <!-- 地区 -->
                            <div class="col-xs-4 col-sm-4 xzero_padding" style="text-align:center;">
                                <span class="data_meta_info">面向地区</span>
                                <br />
                                <span class="data_meta_text" th:text="${info.shootAddress.shootProw.prow+info.shootAddress.shootCity.city+info.shootAddress.shootCountry.country}">河南郑州</span>
                            </div>

                            <!-- 费用类型 -->
                            <div class="col-xs-4 col-sm-4 xzero_padding" style="text-align:center;">
                                <span class="data_meta_info">费用</span>
                                <br />
                                <span th:if="${info.shootCost.id==1 or info.shootCost.id==4}">
                                    <span class="data_meta_text" th:text="${info.shootCost.costName}">希望互免</span>
                                </span>
                                <span th:if="${info.shootCost.id==2 or info.shootCost.id==3}">
                                    <span class="data_meta_text" th:text="${info.shootCost.costName+' '+info.price+'元'}">希望互免</span>
                                </span>

                            </div>

                            <!-- 时间 -->
                            <div class="col-xs-4 col-sm-4 xzero_padding" style="text-align:center;">
                                <span class="data_meta_info">发布时间</span>
                                <br />
                                <span class="data_meta_text" th:text="${info.creationDate}">2019年12月26日23:18</span>
                            </div>

                        </div>

                        <!-- 约拍类型和标题 -->
                        <div class="v15_margin">
                            <span class="data_meta_info" th:text="${info.shootType.typeName}">约拍</span>
                            <span class="data_meta_text" th:text="${info.content}"></span>
                        </div>

                        <!-- 时间说明 -->
                        <div class="v15_margin">
                            <span class="data_meta_info" th:if="${info.takeTime!='' and info.takeTime!=null}">时间: </span>
                            <span class="data_meta_text" th:if="${info.takeTime!='' and info.takeTime!=null}" th:text="${info.takeTime}"></span>
                        </div>

                        <!-- 地点说明 -->
                        <div class="v15_margin">
                            <span class="data_meta_info" th:if="${info.takeLocation!='' and info.takeLocation!=null}">地点: </span>
                            <span class="data_meta_text" th:if="${info.takeLocation!='' and info.takeLocation!=null}" th:text="${info.takeLocation}"></span>
                        </div>

                        <!-- 其他说明 -->
                        <div class="v15_margin">
                            <span class="data_meta_info" th:if="${info.takeResult!='' and info.takeResult!=null}">其他: </span>
                            <span class="data_meta_text" th:if="${info.takeResult!='' and info.takeResult!=null}" th:text="${info.takeResult}"></span>
                        </div>

                        <!-- 约拍标签 -->
                        <div class="v15_margin" th:if="${info.shootInfoStyle!=null}" >
                            <div th:each="style,styleId :${info.shootInfoStyle.shootStyles}">
                            <a class="tag_link" href="javascript:;" target="_blank">
                                <span class="tag" th:text="${style.styleName}"></span>
                            </a>
                            </div>
                        </div>

                        <!-- 收藏 -->
                        <!-- 如果当前约拍不是本用户的 则会显示 收藏 举报 -->
                        <div th:if="${info.userId!=session.user.id}">
                            <div class="v5_margin" style="text-align:right;">
                                <a class="btn_follow_wechat" data-to="993743" href="javascript:void(0);">收藏</a>
                                <a class="btn_report_button" data-type="yuepai" data-id="993743" href="javascript:void(0);">
                                    <span class="data_meta_info">举报</span>
                                </a>
                            </div>
                        </div>

                        <!--约拍条数 -->
                       <!-- <div class="v10_margin" style="text-align:center;">
                            <span class="label label-success label_count">收到约拍6条</span>
                        </div>-->

                        <!-- 约拍会员 -->
                        <div class="v10_margin" style="text-align:center;" th:if="${info.requireRoles==2}">
                            <span class="label label-success label_count">摄会社Club会员可请求</span>
                        </div>

                        <!-- 信誉保证金 -->
                        <div th:if="${info.requireSecurityAccount!=null and info.requireSecurityAccount>0}">
                            <div class="v10_margin" style="text-align:center;">
                                <span class="label label-success label_count">要求信用保证金</span>
                            </div>
                        </div>

                        <!-- 查看是否已关闭 -->
                        <div th:if="${stateId==7}">
                            <div id="close_status" class="v15_margin" style="text-align:center;">
                                <span class="data_meta_info label_required">已关闭</span>
                            </div>
                        </div>

                        <!-- 查看收到的约拍信息 和 恢复 关闭 -->
                        <div class="v15_margin" style="text-align:center;">

                            <!-- 证明你是当前用户可以操作 恢复 或是 关闭 查看收到请求 -->
                            <a th:if="${info.userId==session.user.id}">
                                <a role="button" class="btn btn-primary btn-sm form_large_button" href="/yuepai/requests/992425">查看收到的请求</a>
                            <a th:if="${stateId!=7}">
                                <a id="closeit_button" role="button" class="btn btn-danger btn-sm" href="javascript:;" data-id="992425">关闭</a>
                            </a>
                            <a th:if="${stateId==7}">
                                <a id="openit_button" role="button" class="btn btn-warning btn-sm" href="javascript:;" data-id="992425" style="">恢复</a>
                            </a>
                             </a>
                        </div>

                        <!-- 提交后通知 -->
                        <div class="v15_margin" style="text-align:center;">

                            <a th:if="${flag==true}">
                            <!-- 发起约拍按钮 -->
                                <a th:if="${info.userId!=session.user.id}">
                            <a id="dorequest_button" role="button" class="btn btn-success btn-sm form_large_button"
                               data-login="1" data-id="993743" href="javascript:;">发起请求</a>
                            </a>
                            </a>
                            <a th:if="${flag==false}">
                            <a id="requestdetail_link" class="data_post_title_link" th:href="@{/shoot-letter/aboutMessage(infoId=${info.id})}">你已经提交了请求，查看详情&gt;&gt;</a>
                            </a>

                        </div>

                        <!-- 发起请求按钮 都提交内容 -->
                        <div class="weui_dialog_confirm" id="request_submit_dialog" style="display:none;">
                            <div class="weui_mask"></div>
                            <div class="weui_dialog data_posts popup_dialog" style="text-align:left;">

                                <div class="data_post_cell_sm">
                                    <span class="data_group_title_bold">发起请求</span>
                                </div>

                                <div class="data_post_cell_sm">
                                    <span id="request_submit_message_label" class="data_meta_info">留言</span>
                                    <span class="label_required">（必填）</span>
                                    <div class="v10_margin">
                                        <textarea id="content" class="auto_textarea_editor input_gray" placeholder="比如时间、地点、要求等说明" style="height:80px;"></textarea>
                                    </div>
                                </div>

                                <input id="request_submit_contacts_required" name="request_submit_contacts_required" type="hidden" value="0" />
                                <div class="data_post_cell_sm" style="text-align:center;">
                                    <a id="request_submit_dialog_confirm_button" class="btn btn-primary btn-sm form_medium_button" href="javascript:;" role="button">提交</a>
                                    <a id="request_submit_dialog_cancel_button" class="btn btn-default btn-sm form_medium_button" href="javascript:;" onclick="$('#request_submit_dialog').hide();" role="button">取消</a>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- 约拍图片展示 -->
            <div class="data_posts v8_margin">
                <div id="lightGallery" class="data_post_cell" th:if="${info.shootImages!=null}" th:each="images,count : ${info.shootImages}">

                    <div class="v10_margin gallery-item-container" style="text-align:center;" data-src="http://image.shehuiapp.com/u/822903/201912264F4DX5/822903_020841584_1577373482590.jpg/hd">
                        <img style="width:auto;max-width:100%;height:auto;" th:src="${images.imagesName}" />
                    </div>

                </div>
            </div>

            <!-- 提问区 -->

            <div class="data_posts v8_margin">
                <div class="data_post_cell_dotted">
                    <div class="data_group_title_bold div_align_center">
                        她的最新相册与自拍
                    </div>
                    <div class="row data_post_row v10_margin" style="margin-left:-20px;">
                        <div class="col-xs-6 col-sm-4 col-md-3 row_gallery_cell">
                            <a href="/gallery/993741">
                                <img class="gallery_cell_image" src="http://image.shehuiapp.com/u/822903/201912267C60YM/822903_028851521_1577373325375.jpg/s300" alt="照片" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </a>
                            <div class="card_oneline v10_margin">
                                <a class="data_post_title_link" href="/gallery/993741">3张 照片</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 你也想约拍信息吗 -->
            <div class="data_posts v8_margin">
                <div class="data_post_cell" style="text-align:center;">
                    <div class="data_group_title_bold">你也想发布信息吗？</div>
                    <div class="v10_margin" style="font-weight:bold;font-size:14px;">马上行动，点击下面按钮</div>
                    <div class="v10_margin">
                        <a class="btn btn-default btn-sm form_large_button btn_login_required" role="button" data-login="1" href="/y/publish/993743">发布信息</a>
                    </div>
                </div>
                <div class="data_post_cell" style="text-align:center;">
                    <span class="data_meta_info">使用摄会社小程序更方便</span>
                    <div class="v10_margin">
                        <img src="/content/resources/wechat/wechat_microapp_qrcode.jpg" style="width:100%;height:auto;max-width:300px;margin-left:0px;" />
                    </div>
                </div>
                <div class="data_post_cell" style="text-align:center;">
                    <span class="data_meta_info">关注摄会社公众账号</span>
                    <div class="v10_margin">
                        <img src="/content/custom/wechat_qrcode.jpg" style="width:100%;height:auto;max-width:300px;margin-left:0px;" />
                    </div>
                </div>
            </div>
            <div class="v20_margin"></div>


        </div>



        <!-- 相关地区约拍 -->
        <div class="col-sm-3 fy-rside-panel">
            <div class="data_posts">
                <a class="data_post_cell data_post_cell_link form_header_righticon" href="/u/822903">
                    <span class="data_meta_text">日久&#x1F36B; &#x1F505;的摄会社主页</span>
                    <div class="right_select"></div>
                </a>
                <a class="data_post_cell data_post_cell_link form_header_righticon" href="/u/822903?report=1">
                    <span class="data_meta_text">举报此用户</span>
                    <div class="right_select"></div>
                </a>
                <div class="data_post_cell">
                    <a class="btn btn-default btn-sm" href="/y?location=41">河南约拍</a>
                    <div class="v10_margin">
                        <a class="btn btn-default btn-sm" href="/y?location=41&amp;label=photographer">河南摄影师</a>
                    </div>
                    <div class="v10_margin">
                        <a class="btn btn-default btn-sm" href="/y?location=41&amp;label=model">河南模特</a>
                    </div>
                </div>
            </div>

            <!-- 相关推荐 -->
            <div class="data_posts v8_margin">
                <div class="data_post_cell">
                    <span class="data_group_title_sm">相关推荐</span>
                </div>
                <a class="data_post_cell data_post_cell_link" href="/y/992819">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/501166/20191214Q13NKU/501166_023005021_1576333897785.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="card_oneline v10_margin">
                        <span class="data_meta_text">河南郑州 模特 想拍海马体的圣诞照(下面这种)，海马体排到太晚了，希望能出类似风格的摄影师约，能提供场地，妆容，服装...</span>
                    </div>
                </a>
                <a class="data_post_cell data_post_cell_link" href="/y/160794">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/73311/73311_013861061_1544669101430.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="card_oneline v10_margin">
                        <span class="data_meta_text">河南郑州 模特 喜欢拍照，一切可以协商，有点自来熟哈哈</span>
                    </div>
                </a>
                <a class="data_post_cell data_post_cell_link" href="/y/161228">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/818105/818105_025698821_1545112821447.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="card_oneline v10_margin">
                        <span class="data_meta_text">河南郑州 模特 希望找个长期合作的摄影师    互免新人想学习没有全身照163体重104</span>
                    </div>
                </a>
                <a class="data_post_cell data_post_cell_link" href="/y/163214">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/819199/819199_030438110_1547287250206.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="card_oneline v10_margin">
                        <span class="data_meta_text">河南郑州 模特 喜欢拍照 新人想学习一下 希望互免 有摄影师约吗</span>
                    </div>
                </a>

                <a class="data_post_cell data_post_cell_link" href="/y/164123">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/819691/819691_014663721_1548409474056.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="card_oneline v10_margin">
                        <span class="data_meta_text">河南郑州 模特 河南郑州，开学回厦门上大学&#xD;&#xA;182&#xD;&#xA;什么都不会，希望您能教教我</span>
                    </div>
                </a>

                <a class="data_post_cell data_post_cell_link" href="/y/165752">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/819736/819736_014824321_1550890165328.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="card_oneline v10_margin">
                        <span class="data_meta_text">河南郑州 模特 希望尝试一些不同风格的约拍</span>
                    </div>
                </a>
                <a class="data_post_cell data_post_cell_link" href="/y/172560">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/821480/821480_020529112_1556450503948.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="card_oneline v10_margin">
                        <span class="data_meta_text">河南郑州 模特 淘宝模特… 想接触下写真婚样类～ 风格不限 私房不拍！！！</span>
                    </div>
                </a>
                <a class="data_post_cell data_post_cell_link" href="/y/173260">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/824370/824370_015726481_1557124451932.jpeg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="card_oneline v10_margin">
                        <span class="data_meta_text">河南郑州 模特 热爱拍照，之前常常做朋友的摄影模特，养成了每隔一段时间就想拍几张记录一下自己美好的一面。不接私房，其...</span>
                    </div>
                </a>
                <a class="data_post_cell data_post_cell_link" href="/y/173620">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/824528/824528_029750691_1557466340296.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="card_oneline v10_margin">
                        <span class="data_meta_text">河南郑州 模特 互免约拍，本人快生日了想留图纪念一下，不接私房最好是小姐姐，以下是之前拍的写真图，生活照没地方发看能...</span>
                    </div>
                </a>
                <a class="data_post_cell data_post_cell_link" href="/y/160376">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/60354/60354_015763251_1544233979695.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="card_oneline v10_margin">
                        <span class="data_meta_text">河南郑州 模特 最近天气比较冷，希望摄影师有写真馆。合适的我们私聊</span>
                    </div>
                </a>
            </div>

            <!-- 相关下载 -->
            <div class="data_posts v8_margin">

                <div class="data_post_cell form_header_righticon download_panel">
                    <div class="nav_left_items flex_row_panel">
                        <img class="data_avatar_small2" src="/content/custom/logo.png" />
                        <div class="span_v5_margin_left">
                            <div class="data_meta_text_big">摄会社APP</div>
                            <div class="data_meta_info">摄影约拍平台</div>
                        </div>
                    </div>
                    <div class="nav_right_items flex_row_panel">
                        <a class="btn btn-default" href="/Download" role="button">立即下载</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div id="toast_message" class="toast_message_fixed" style="display: none;">
    <div class="weui_toast weui_toast_fixed">
        <p id="toast_message_text" class="weui_toast_content weui_toast_content_fixed">
        </p>
    </div>
</div>

<div class="modal" id="report_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="data_group_title">向平台举报</div>
            </div>
            <div class="modal-body">
                <textarea id="report_text" class="auto_textarea_editor" rows="3" style="font-size:13px;" placeholder="输入内容"></textarea>
            </div>
            <div class="modal-footer">
                <button id="report_dialog_submit_button" class="btn btn-primary btn-sm" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<div class="weui_dialog_confirm" id="user_review_dialog" style="display:none;">
    <div class="weui_mask" onclick="$(this).parent().hide();"></div>
    <div class="weui_dialog data_posts popup_dialog" style="text-align:left;">
        <div class="data_post_cell_dotted">
            <span class="data_group_title_bold">写个评价</span>
            <div style="float:right;">
                <a role="button" class="btn btn-default btn-xs" href="javascript:void(0);" onclick="$('#user_review_dialog').hide();">取消</a>
            </div>
        </div>
        <div class="data_post_cell_dotted">
            <span id="user_review_score_label" class="data_meta_info">请进行打分</span>
            <div class="v10_margin">
                <input id="user_review_score" name="user_review_score" type="hidden" value="0" />
                <span class="review_star review_star_gray" data-score="1"></span>
                <span class="review_star review_star_gray" data-score="2"></span>
                <span class="review_star review_star_gray" data-score="3"></span>
                <span class="review_star review_star_gray" data-score="4"></span>
                <span class="review_star review_star_gray" data-score="5"></span>
                <span id="user_review_score_text" class="data_meta_info span_v5_margin_left"></span>
            </div>
        </div>
        <div class="data_post_cell_dotted">
            <textarea class="auto_textarea_editor input_gray" id="user_review_comment" name="user_review_comment" placeholder="写几句评语吧..." style="height: 100px; resize: none;"></textarea>
        </div>
        <div class="data_post_cell_dotted" style="text-align:center;">
            <a id="user_review_submit_button" class="btn btn-sm btn-primary form_large_button" href="javascript:void(0);">提交</a>
        </div>
    </div>
</div>

<div class="weui_dialog_confirm" id="user_review_delete_dialog" style="display:none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">确定删除吗？</strong></div>
        <div class="weui_dialog_ft">
            <a href="javascript:void(0);" onclick="$('#user_review_delete_dialog').hide();" class="weui_btn_dialog default">取消</a>
            <!--<a id="user_review_delete_confirm_button" href="javascript:;" class="weui_btn_dialog primary">确定</a>-->
        </div>
    </div>
</div>


<!-- 约拍弹框 -->
<div id="mymodal" class="modal fade" >
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">发起请求</h4>
        </div>
            <div class="media-body">
                <input id="name" name="" value="" placeholder="请输入留言">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">提交</button>
                <button class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<!-- 当前约拍信息id -->
<input hidden id="infoId" th:value="${info.id}">

<!-- 当前详情约拍信息用户的id -->
<input hidden id="id" th:value="${info.shootUser.id}">

<!-- 提交留言 -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#dorequest_button").click(function () {
            var $requestSubmitDialog = $("#request_submit_dialog");
            $requestSubmitDialog.show();
            $requestSubmitDialog.css({"padding-left":200,"padding-top":-200,"z-index":1});
        });
        $("#request_submit_dialog_confirm_button").click(function () {
            var text = $("#content").val();  //留言
            var id=$("#id").val();           //当前信息用户id
            var info=$("#infoId").val();      //当前infoId
            //异步添加留言信息
            $.post("/shoot-letter/addLetter",{"content":text,"putUserId":id,"infoId":info},function (data) {
                   if(data==true){
                       var infoId=$("#infoId").val();
                       //发送留言 成功后再次 重新刷新页面数据
                       location.href="/shoot-info/about?id="+infoId;
                   }
            },"json");

            $(this).parent().parent().parent().hide();
        });
    });

</script>

<!-- 约拍次数 -->
<div class="weui_dialog_confirm" id="request_exceeds_count_dialog" style="display:none;">
    <div class="weui_mask" onclick="$(this).parent().hide();"></div>
    <div class="weui_dialog data_posts popup_dialog" style="text-align:left;">
        <div class="data_post_cell">
            <span class="data_group_title_bold">发起请求</span>
            <div style="float:right;">
                <a role="button" class="btn btn-default btn-xs" href="javascript:void(0);" onclick="$('#request_exceeds_count_dialog').hide();">关闭</a>
            </div>
        </div>
        <div class="data_post_cell" style="text-align:center;">
            <div class="vip_title">
                您今天约拍次数已经超过限制，请明天继续约拍。
            </div>
        </div>
    </div>
</div>


<!-- 积分 -->
<div class="weui_dialog_confirm" id="request_nomorecoins_dialog" style="display:none;">
    <div class="weui_mask" onclick="$(this).parent().hide();"></div>
    <div class="weui_dialog data_posts popup_dialog" style="text-align:left;">
        <div class="data_post_cell">
            <span class="data_group_title_bold">发起请求</span>
            <div style="float:right;">
                <a role="button" class="btn btn-default btn-xs" href="javascript:void(0);" onclick="$('#request_nomorecoins_dialog').hide();">关闭</a>
            </div>
        </div>
        <div class="data_post_cell" style="text-align:center;">
            <div id="request_nomorecoins_dialog_message" class="vip_title">
            </div>
        </div>
        <div class="data_post_cell" style="text-align:center;">
            <a class="btn btn-success btn-sm" href="/u/points/993743" role="button">获取积分</a>
        </div>
    </div>
</div>


<!-- 操作频繁提示 -->
<div class="weui_dialog_confirm" id="request_bang_dialog" style="display:none;">
    <div class="weui_mask" onclick="$(this).parent().hide();"></div>
    <div class="weui_dialog data_posts popup_dialog" style="text-align:left;">
        <div class="data_post_cell">
            <span class="data_group_title_bold">发起请求</span>
            <div style="float:right;">
                <a role="button" class="btn btn-default btn-xs" href="javascript:void(0);" onclick="$('#request_bang_dialog').hide();">关闭</a>
            </div>
        </div>
        <div class="data_post_cell" style="text-align:center;">
            <div class="vip_title">
                您的操作太频繁了，请休息一会儿
            </div>
        </div>
    </div>
</div>


<!-- 判断是否有过发布信息记录1 -->
<div class="weui_dialog_confirm" id="request_publishinfo_dialog" style="display:none;">
    <div class="weui_mask" onclick="$(this).parent().hide();"></div>
    <div class="weui_dialog data_posts popup_dialog" style="text-align:left;">
        <div class="data_post_cell">
            <span class="data_group_title_bold">发起请求</span>
            <div style="float:right;">
                <a role="button" class="btn btn-default btn-xs" href="javascript:void(0);" onclick="$('#request_publishinfo_dialog').hide();">关闭</a>
            </div>
        </div>
        <div class="data_post_cell" style="text-align:center;">
            <div class="vip_title">
                请先发布一条信息
            </div>
        </div>
    </div>
</div>


<div class="weui_dialog_confirm" id="request_setprofile_dialog" style="display:none;">
    <div class="weui_mask" onclick="$(this).parent().hide();"></div>
    <div class="weui_dialog data_posts popup_dialog" style="text-align:left;">
        <div class="data_post_cell">
            <span class="data_group_title_bold">发起请求</span>
            <div style="float:right;">
                <a role="button" class="btn btn-default btn-xs" href="javascript:void(0);" onclick="$('#request_setprofile_dialog').hide();">关闭</a>
            </div>
        </div>
        <div class="data_post_cell" style="text-align:center;">
            <div id="request_setprofile_dialog_message" class="vip_title">
            </div>
        </div>
    </div>
</div>


<!-- 联系方式弹框-->
<div class="weui_dialog_confirm" id="request_setcontact_dialog" style="display:none;">
    <div class="weui_mask" onclick="$(this).parent().hide();"></div>
    <div class="weui_dialog data_posts popup_dialog" style="text-align:left;">
        <div class="data_post_cell">
            <span class="data_group_title_bold">发起请求</span>
            <div style="float:right;">
                <a role="button" class="btn btn-default btn-xs" href="javascript:void(0);" onclick="$('#request_setcontact_dialog').hide();">关闭</a>
            </div>
        </div>
        <div class="data_post_cell" style="text-align:center;">
            <div class="vip_title">
                未设置联系方式
            </div>
        </div>
    </div>
</div>


<!-- 会员弹框 -->
<div class="weui_dialog_confirm" id="request_required_vip_dialog" style="display:none;">
    <div class="weui_mask" onclick="$(this).parent().hide();"></div>
    <div class="weui_dialog data_posts popup_dialog" style="text-align:left;">
        <div class="data_post_cell">
            <span class="data_group_title_bold">发起请求</span>
            <div style="float:right;">
                <a role="button" class="btn btn-default btn-xs" href="javascript:void(0);" onclick="$('#request_required_vip_dialog').hide();">关闭</a>
            </div>
        </div>
        <div class="data_post_cell" style="text-align:center;">
            <div class="vip_title">
                摄会社Club会员可发起请求
            </div>
        </div>
        <div class="data_post_cell" style="text-align:center;">
            <a class="btn btn-success btn-sm" href="/vip/993743?returnUrl=%2Fy%2F993743" role="button">加入摄会社Club会员</a>
        </div>
    </div>
</div>


<!-- 存入保证金弹框 -->
<div class="weui_dialog_confirm" id="request_required_security_account_dialog" style="display:none;">
    <div class="weui_mask" onclick="$(this).parent().hide();"></div>
    <div class="weui_dialog data_posts popup_dialog" style="text-align:left;">
        <div class="data_post_cell">
            <span class="data_group_title_bold">发起请求</span>
            <div style="float:right;">
                <a role="button" class="btn btn-default btn-xs" href="javascript:void(0);" onclick="$('#request_required_security_account_dialog').hide();">关闭</a>
            </div>
        </div>
        <div class="data_post_cell" style="text-align:center;">
            <div>
                <span class="vip_title">存入信用保证金后，才可以发起约拍</span>
            </div>
        </div>
        <div class="data_post_cell" style="text-align:center;">
            <a class="btn btn-success btn-sm" href="/u/securityaccount/993743?returnUrl=%2Fy%2F993743" role="button">存入信用保证金</a>
        </div>
    </div>
</div>

<script th:src="@{/js/notlogin.js}"></script>

</body>
</html>
