<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
   <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>河南郑州 - 摄会社 - 摄影师模特摄影约拍演艺通告平台</title>

    <link href="/content/resources/core73.min.css" rel="stylesheet" />
    <script type="text/javascript">
        if (document.location.host && null != document.location.host) { var n = document.location.host; n.indexOf("shehuishe.com") < 0 && n.indexOf("shehuiapp.com") < 0 && (window.location.href = "https://www.shehuiapp.com/") }
    </script>-->
    <link href="../css/core73.min.css" rel="stylesheet">
</head>
<body class="body_default">

<p th:if="${info==true}">
   <script type="text/javascript">
       alert("注册成功");
   </script>
</p>

<header class="navbar navbar-fixed-top fy-docs-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#fy-navbar" aria-controls="fy-navbar" aria-expanded="false">
                <span class="sr-only">导航切换</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand fy-navbar-brand" href="/" title="摄会社 - 摄影师模特摄影约拍演艺通告平台">
                <div>
                    <img src="../images/logo.png" class="fy-navbar-logo" />
                    <span>艺术摄</span>
                </div>
            </a>
        </div>
        <nav id="fy-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="uul">
                <li>
                    <a class="fy-navItem-active" href="#">首页</a>
                </li>
                <li>
                    <a class="" href="#">关注</a>
                </li>
                <li>
                    <a class="" href="#">自拍</a>
                </li>
                <li>
                    <a class="" href="#">主题</a>
                </li>
             <!--   <li>
                    <a class="" href="#">地点</a>
                </li>-->
                <li>
                    <a class="" href="#" title="少年">
                        <img class="img-circle data_avatar_xs" src="http://qzapp.qlogo.cn/qzapp/101219184/29FCB207DDB74B5E047DB0AD96E10AE0/30" />
                        <span>我的</span>
                    </a>
                </li>
                <li>
                    <a id="notification_menu" class="fy-navItem-notification" href="javascript:void(0);">通知</a>
                </li>
                <li>
                    <a class="" href="#">加入会员</a>
                </li>
               <!-- <li>
                    <a class="" href="https://www.shehuiapp.com/download">下载APP</a>
                </li>-->
            </ul>
        </nav>
    </div>
</header>
<div class="fy-docs-nav-distance"></div>

<div class="container bottom_menu_margin_plus xzero_padding">
    <div class="row" style="margin-left:0px;margin-right:0px;">
        <div class="col-sm-9 xzero_padding">
            <div class="data_posts">
                <div class="data_post_cell_dotted">
                    <span class="data_meta_info">地区：</span>
                    <a class="data_item_link" href="/y?from=location_select">全部</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=11">北京</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=31">上海</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=12">天津</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=50">重庆</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=4401">广州</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=4403">深圳</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=3201">南京</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=3301">杭州</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=4201">武汉</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=4301">长沙</a>
                    <span class="data_item_label">郑州</span>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=5101">成都</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=6101">西安</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=2301">哈尔滨</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=2201">长春</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=2101">沈阳</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=2102">大连</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=1301">石家庄</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=3401">合肥</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=3701">济南</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=3702">青岛</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=3601">南昌</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=3501">福州</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=3502">厦门</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=4501">南宁</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=5301">昆明</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=3205">苏州</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=4404">珠海</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=4419">东莞</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=67">香港</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=68">澳门</a>
                    <a class="data_item_link" href="/y?from=location_select&amp;location=69">台湾</a>
                    <a class="data_item_link" href="/Location/Select?returnUrl=%2Fy%3Ffrom%3Dlocation_select">>>其他地区</a>
                </div>
                <div class="data_post_cell_dotted">
                    <span class="data_meta_info">费用：</span>
                    <a class="data_item_link" href="/y?location=4101">全部</a>
                    <a class="data_item_link" href="/y?location=4101&amp;fee=free">希望互免</a>
                    <a class="data_item_link" href="/y?location=4101&amp;fee=want">需要收费</a>
                    <a class="data_item_link" href="/y?location=4101&amp;fee=pay">愿意付费</a>
                    <a class="data_item_link" href="/y?location=4101&amp;fee=talk">费用协商</a>
                </div>
                <div class="data_post_cell_dotted">
                    <span class="data_meta_info">身份：</span>
                    <a class="data_item_link" href="/y?location=4101">全部</a>
                    <a class="data_item_link" href="/y?location=4101&amp;label=photographer">摄影师</a>
                    <a class="data_item_link" href="/y?location=4101&amp;label=model">模特</a>
                    <a class="data_item_link" href="/y?location=4101&amp;label=mua">化妆师</a>
                    <a class="data_item_link" href="/y?location=4101&amp;label=pd">修图师</a>
                    <a class="data_item_link" href="/y?location=4101&amp;label=merchant">商家</a>
                    <a class="data_item_link" href="/y?location=4101&amp;label=broker">经纪人</a>
                    <a class="data_item_link" href="/y?location=4101&amp;label=fan">摄影爱好者</a>
                    <a class="data_item_link" href="/y?location=4101&amp;label=actor">演员</a>
                    <a class="data_item_link" href="/y?location=4101&amp;label=dancer">舞蹈</a>
                    <a class="data_item_link" href="/y?location=4101&amp;label=singer">歌手</a>
                    <a class="data_item_link" href="/y?location=4101&amp;label=host">主持人</a>
                    <a class="data_item_link" href="/y?location=4101&amp;label=design">设计</a>
                    <a class="data_item_link" href="/y?location=4101&amp;label=dwriter">文案</a>
                    <a class="data_item_link" href="/y?location=4101&amp;label=fwriter">编剧</a>
                    <a class="data_item_link" href="/y?location=4101&amp;label=editor">剪辑</a>
                    <a class="data_item_link" href="/y?location=4101&amp;label=director">导演</a>
                    <a class="data_item_link" href="/y?location=4101&amp;label=clothes">服装</a>
                    <a class="data_item_link" href="/y?location=4101&amp;label=style">造型</a>
                    <a class="data_item_link" href="/y?location=4101&amp;label=property">道具</a>
                    <a class="data_item_link" href="/y?location=4101&amp;label=art">艺术其他</a>
                </div>
                <div class="data_post_cell_dotted">
                    <span class="data_meta_info">性别：</span>
                    <a class="data_item_link" href="/y?location=4101">全部</a>
                    <a class="data_item_link" href="/y?location=4101&amp;gender=m">
                        男
                        <i class="web_wechat_men"></i>
                    </a>
                    <a class="data_item_link" href="/y?location=4101&amp;gender=f">
                        女
                        <i class="web_wechat_women"></i>
                    </a>
                </div>
            </div>

              <!-- 热门主题 -->

            <!-- 最新约拍返片 -->
            <div class="data_posts v8_margin">
                <div class="data_post_cell_dotted">
                    <div>
                        <span class="data_group_title_bold_sm">约拍返片</span>
                        <div style="float:right;">
                            <a class="data_post_container_link" href="/y/galleries">
                                <span class="data_meta_info">更多返片></span>
                            </a>
                        </div>
                    </div>
                    <div class="row data_post_row v8_margin" style="margin-left:-20px;">
                        <div class="col-xs-4 col-sm-3 col-md-3 row_gallery_cell_one" style="text-align:center;">
                            <a class="data_post_container_link" href="/gallery/993571">
                                <img class="gallery_cell_image" src="http://image.shehuiapp.com/u/506233/20191224E94J5Q/506233_028568361_1577189990176.jpg/s300" alt="夏" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                                    <div class="card_oneline v5_margin">
                                    <span class="data_meta_text">夏</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-4 col-sm-3 col-md-3 row_gallery_cell_one" style="text-align:center;">
                            <a class="data_post_container_link" href="/gallery/993557">
                                <img class="gallery_cell_image" src="http://image.shehuiapp.com/u/812363/20191224KWB14P/812363_019390951_1577177289711.jpg/s300" alt="街拍上海之一" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                                <div class="card_oneline v5_margin">
                                    <span class="data_meta_text">街拍上海之一</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-4 col-sm-3 col-md-3 row_gallery_cell_one" style="text-align:center;">
                            <a class="data_post_container_link" href="/gallery/993550">
                                <img class="gallery_cell_image" src="http://image.shehuiapp.com/u/500204/20191224T8OWDM/500204_010266825_1577176613241.jpg/s300" alt="冬日暖阳" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                                <div class="card_oneline v5_margin">
                                    <span class="data_meta_text">冬日暖阳</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-4 col-sm-3 col-md-3 row_gallery_cell_one" style="text-align:center;">
                            <a class="data_post_container_link" href="/gallery/993540">
                                <img class="gallery_cell_image" src="http://image.shehuiapp.com/u/153469/20191224NL1FIL/153469_019128971_1577171745424.jpeg/s300" alt="舞者" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                                <div class="card_oneline v5_margin">
                                    <span class="data_meta_text">舞者</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="data_posts v8_margin">

                <div class="data_post_container">
                    <a class="data_post_container_link" href="/y/993330">
                        <div class="user_info_cell_sm v10_margin_bottom">
                            <div class="user_info_cell_avatar">
                                <i class="data_post_author_title_link" data-url="/u/62591">
                                    <img class="img-circle data_avatar_small2" src="http://image.shehuiapp.com/u/62591/62591_016005701_1565525894281.jpeg/t150" onerror='this.src="https://www.shehuiapp.com/content/resources/images/avatar_placeholder_300.png"' />
                                </i>
                            </div>
                            <div class="user_info_cell_content">
                                <span class="data_post_author_title">喜欢拍照喜欢你</span>
                                <i class="web_wechat_men"></i>
                                <div>
                                    <span class="data_meta_info_xs">摄影爱好者</span>
                                </div>
                            </div>
                        </div>
                        <div class="data_post_fee_info">
                            <span class="data_meta_info">约拍</span>
                            <span class="data_meta_info span_v2_margin_left">河南郑州</span>
                            <span class="span_v2_margin_left">费用协商</span>
                        </div>
                        <div class="data_post_message v8_margin">
                            有想拍这种风格的没？唯美复古、清新简约、情绪胶片，有的话滴滴，提供拍摄和民宿推荐，费用AA，模特自备服装妆造
                            <span class="data_meta_info">（3张）</span>
                        </div>
                        <div class="row data_post_image_row">
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/62591/62591_036501780_1576901740075.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/62591/62591_037227961_1576901740718.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/62591/62591_032222612_1576901741371.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                        </div>
                        <div class="data_meta_info v10_margin">
                            <span class="data_meta_info">2019年12月21日12:15</span>
                        </div>
                        <div class="v10_margin">
                            <span class="label label-success">收到约拍1条</span>
                        </div>
                    </a>
                </div>



                <div class="data_post_container">
                    <a class="data_post_container_link" href="/y/992819">
                        <div class="user_info_cell_sm v10_margin_bottom">
                            <div class="user_info_cell_avatar">
                                <i class="data_post_author_title_link" data-url="/u/501166">
                                    <img class="img-circle data_avatar_small2" src="http://wx.qlogo.cn/mmopen/vi_32/5h0htk1De8mVWPC95dwtKQXPQGciahQYGCnDUeJAY9camDuTdLRLlaISJW4ic66wBf6ibSpmblcVEYUKCDfdRukpg/0" onerror='this.src="https://www.shehuiapp.com/content/resources/images/avatar_placeholder_300.png"' />
                                </i>
                            </div>
                            <div class="user_info_cell_content">
                                <span class="data_post_author_title">Bonjour&#xE003;</span>
                                <i class="web_wechat_women"></i>
                                <div>
                                    <span class="data_meta_info_xs">模特</span>
                                </div>
                            </div>
                        </div>
                        <div class="data_post_fee_info">
                            <span class="data_meta_info">约拍</span>
                            <span class="data_meta_info span_v2_margin_left">河南郑州</span>
                            <span class="span_v2_margin_left">愿意付费</span>
                            <span class="money_amount span_v2_margin_left">200元</span>
                        </div>
                        <div class="data_post_message v8_margin">
                            想拍海马体的圣诞照(下面这种)，海马体排到太晚了，希望能出类似风格的摄影师约，能提供场地，妆容，服装，按成片效果协商价格
                            <span class="data_meta_info">（3张）</span>
                        </div>
                        <div class="row data_post_image_row">
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/501166/20191214Q13NKU/501166_023005021_1576333897785.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/501166/20191214Q13NKU/501166_024874612_1576333897786.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/501166/20191214Q13NKU/501166_029035663_1576333897786.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                        </div>
                        <div class="data_meta_info v10_margin">
                            <span class="data_meta_info">2019年12月14日22:31</span>
                        </div>
                        <div class="v10_margin">
                            <span class="label label-success">摄会社Club会员可请求</span>
                        </div>
                    </a>
                </div>



                <div class="data_post_container">
                    <a class="data_post_container_link" href="/y/992356">
                        <div class="user_info_cell_sm v10_margin_bottom">
                            <div class="user_info_cell_avatar">
                                <i class="data_post_author_title_link" data-url="/u/1531674">
                                    <img class="img-circle data_avatar_small2" src="http://image.shehuiapp.com/u/1531674/201912068NB8O3/1531674_026105251_1575620634991.jpg/t150" onerror='this.src="https://www.shehuiapp.com/content/resources/images/avatar_placeholder_300.png"' />
                                </i>
                            </div>
                            <div class="user_info_cell_content">
                                <span class="data_post_author_title">街头punk</span>
                                <i class="web_wechat_women"></i>
                                <div>
                                    <span class="data_meta_info_xs">模特</span>
                                </div>
                            </div>
                        </div>
                        <div class="data_post_fee_info">
                            <span class="data_meta_info">约拍</span>
                            <span class="data_meta_info span_v2_margin_left">河南郑州</span>
                            <span class="span_v2_margin_left">希望互免</span>
                        </div>
                        <div class="data_post_message v8_margin">
                            金水东路绿地新都会新田360广场&#xA;本人是网拍模特&#xA;可以长期合作
                            <span class="data_meta_info">（3张）</span>
                        </div>
                        <div class="row data_post_image_row">
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/1531674/20191209ZI8VWB/1531674_028960561_1575872316235.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/1531674/20191209ZI8VWB/1531674_026242292_1575872316235.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/1531674/20191209ZI8VWB/1531674_020024633_1575872316235.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                        </div>
                        <div class="data_meta_info v10_margin">
                            <span class="data_meta_info">2019年12月9日14:18</span>
                        </div>
                        <div class="v10_margin">
                            <span class="label label-success">收到约拍1条</span>
                        </div>
                    </a>
                </div>



                <div class="data_post_container">
                    <a class="data_post_container_link" href="/y/992294">
                        <div class="user_info_cell_sm v10_margin_bottom">
                            <div class="user_info_cell_avatar">
                                <i class="data_post_author_title_link" data-url="/u/1531890">
                                    <img class="img-circle data_avatar_small2" src="https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTKhKicPfmH6FDhIpv87EBoWcicoKwoplaQrjpwDiaV43OM0wcpRsCg09vcpEUibRdJwNSWFiaozVhdsgvg/132" onerror='this.src="https://www.shehuiapp.com/content/resources/images/avatar_placeholder_300.png"' />
                                </i>
                            </div>
                            <div class="user_info_cell_content">
                                <span class="data_post_author_title">爱拍照你叁哥</span>
                                <i class="web_wechat_men"></i>
                                <div>
                                    <span class="data_meta_info_xs">摄影师</span>
                                </div>
                            </div>
                        </div>
                        <div class="data_post_fee_info">
                            <span class="data_meta_info">约拍</span>
                            <span class="data_meta_info span_v2_margin_left">河南郑州</span>
                            <span class="span_v2_margin_left">希望互免</span>
                        </div>
                        <div class="data_post_message v8_margin">
                            有人喜欢这些风格吗？
                            <span class="data_meta_info">（9张）</span>
                        </div>
                        <div class="row data_post_image_row">
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/1531890/20191208MFDE6N/1531890_029740861_1575794764721.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/1531890/20191208MFDE6N/1531890_028157092_1575794764722.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/1531890/20191208MFDE6N/1531890_028136873_1575794764722.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                        </div>
                        <div class="data_meta_info v10_margin">
                            <span class="data_meta_info">2019年12月8日16:46</span>
                        </div>
                    </a>
                </div>



                <div class="data_post_container">
                    <a class="data_post_container_link" href="/y/992208">
                        <div class="user_info_cell_sm v10_margin_bottom">
                            <div class="user_info_cell_avatar">
                                <i class="data_post_author_title_link" data-url="/u/820695">
                                    <img class="img-circle data_avatar_small2" src="http://image.shehuiapp.com/u/820695/820695_039043250_1575690841704.jpg/t150" onerror='this.src="https://www.shehuiapp.com/content/resources/images/avatar_placeholder_300.png"' />
                                </i>
                            </div>
                            <div class="user_info_cell_content">
                                <span class="data_post_author_title">不谴是非，以与世俗处。</span>
                                <i class="web_wechat_men"></i>
                                <div>
                                    <span class="data_meta_info_xs">摄影师</span>
                                </div>
                            </div>
                        </div>
                        <div class="data_post_fee_info">
                            <span class="data_meta_info">约拍</span>
                            <span class="data_meta_info span_v2_margin_left">河南郑州</span>
                            <span class="span_v2_margin_left">希望互免</span>
                        </div>
                        <div class="data_post_message v8_margin">
                            互勉约拍，本人刚接触人像，不介意我经验不足的，可以跟我一起约拍，相互提高，最好是可以长期一起研究一起提高的妹子。摄影摄像都可以。
                        </div>
                        <div class="data_meta_info v10_margin">
                            <span class="data_meta_info">2019年12月7日12:00</span>
                        </div>
                        <div class="v10_margin">
                            <span class="label label-success">收到约拍1条</span>
                        </div>
                    </a>
                </div>



                <div class="data_post_container">
                    <a class="data_post_container_link" href="/y/991909">
                        <div class="user_info_cell_sm v10_margin_bottom">
                            <div class="user_info_cell_avatar">
                                <i class="data_post_author_title_link" data-url="/u/62591">
                                    <img class="img-circle data_avatar_small2" src="http://image.shehuiapp.com/u/62591/62591_016005701_1565525894281.jpeg/t150" onerror='this.src="https://www.shehuiapp.com/content/resources/images/avatar_placeholder_300.png"' />
                                </i>
                            </div>
                            <div class="user_info_cell_content">
                                <span class="data_post_author_title">喜欢拍照喜欢你</span>
                                <i class="web_wechat_men"></i>
                                <div>
                                    <span class="data_meta_info_xs">摄影爱好者</span>
                                </div>
                            </div>
                        </div>
                        <div class="data_post_fee_info">
                            <span class="data_meta_info">约拍</span>
                            <span class="data_meta_info span_v2_margin_left">河南郑州</span>
                            <span class="span_v2_margin_left">希望互免</span>
                        </div>
                        <div class="data_post_message v8_margin">
                            11月末紫荆山公园散步拍的，想拍更多作品以不断提升自我（面对不同环境创作不同风格的能力与经验）&#xA;提升是永无止境的，所以希望是长期合作&#xA;92年...
                            <span class="data_meta_info">（9张）</span>
                        </div>
                        <div class="row data_post_image_row">
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/62591/62591_035310480_1575404912453.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/62591/62591_031640861_1575404916895.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/62591/62591_038906442_1575404920748.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                        </div>
                        <div class="data_meta_info v10_margin">
                            <span class="data_meta_info">2019年12月4日04:29</span>
                        </div>
                    </a>
                </div>



                <div class="data_post_container">
                    <a class="data_post_container_link" href="/y/991388">
                        <div class="user_info_cell_sm v10_margin_bottom">
                            <div class="user_info_cell_avatar">
                                <i class="data_post_author_title_link" data-url="/u/826536">
                                    <img class="img-circle data_avatar_small2" src="http://image.shehuiapp.com/u/826536/20191112SXLDBX/826536_0240565310_1573534921428.jpg/t150" onerror='this.src="https://www.shehuiapp.com/content/resources/images/avatar_placeholder_300.png"' />
                                </i>
                            </div>
                            <div class="user_info_cell_content">
                                <span class="data_post_author_title">小龙</span>
                                <i class="web_wechat_men"></i>
                                <div>
                                    <span class="data_meta_info_xs">摄影师</span>
                                </div>
                            </div>
                        </div>
                        <div class="data_post_fee_info">
                            <span class="data_meta_info">约拍</span>
                            <span class="data_meta_info span_v2_margin_left">河南郑州</span>
                            <span class="span_v2_margin_left">希望互免</span>
                        </div>
                        <div class="data_post_message v8_margin">
                            下周有时间的小姐姐可以联系我，拍一组古风样片，有想要合作的抓紧联系我，以下是我的一些作品
                            <span class="data_meta_info">（9张）</span>
                        </div>
                        <div class="row data_post_image_row">
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/826536/20191128D6YRHG/826536_020481571_1574920571178.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/826536/20191128D6YRHG/826536_023616212_1574920571178.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/826536/20191128D6YRHG/826536_023381853_1574920571178.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                        </div>
                        <div class="data_meta_info v10_margin">
                            <span class="data_meta_info">2019年11月28日13:56</span>
                        </div>
                        <div class="v10_margin">
                            <span class="label label-success">收到约拍4条</span>
                        </div>
                    </a>
                </div>



                <div class="data_post_container">
                    <a class="data_post_container_link" href="/y/990985">
                        <div class="user_info_cell_sm v10_margin_bottom">
                            <div class="user_info_cell_avatar">
                                <i class="data_post_author_title_link" data-url="/u/826536">
                                    <img class="img-circle data_avatar_small2" src="http://image.shehuiapp.com/u/826536/20191112SXLDBX/826536_0240565310_1573534921428.jpg/t150" onerror='this.src="https://www.shehuiapp.com/content/resources/images/avatar_placeholder_300.png"' />
                                </i>
                            </div>
                            <div class="user_info_cell_content">
                                <span class="data_post_author_title">小龙</span>
                                <i class="web_wechat_men"></i>
                                <div>
                                    <span class="data_meta_info_xs">摄影师</span>
                                </div>
                            </div>
                        </div>
                        <div class="data_post_fee_info">
                            <span class="data_meta_info">约拍</span>
                            <span class="data_meta_info span_v2_margin_left">河南郑州</span>
                            <span class="span_v2_margin_left">希望互免</span>
                        </div>
                        <div class="data_post_message v8_margin">
                            想拍一组复古的作品，服装造型全包，影楼拍摄，想合作的可以联系，以下是我的作品，想要快！快速联系！
                            <span class="data_meta_info">（9张）</span>
                        </div>
                        <div class="row data_post_image_row">
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/826536/20191123T32EOH/826536_027847311_1574491308846.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/826536/20191123T32EOH/826536_021845792_1574491308846.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/826536/20191123T32EOH/826536_024959523_1574491308846.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                        </div>
                        <div class="data_meta_info v10_margin">
                            <span class="data_meta_info">2019年11月23日14:41</span>
                        </div>
                        <div class="v10_margin">
                            <span class="label label-success">收到约拍1条</span>
                        </div>
                    </a>
                </div>



                <div class="data_post_container">
                    <a class="data_post_container_link" href="/y/990958">
                        <div class="user_info_cell_sm v10_margin_bottom">
                            <div class="user_info_cell_avatar">
                                <i class="data_post_author_title_link" data-url="/u/826536">
                                    <img class="img-circle data_avatar_small2" src="http://image.shehuiapp.com/u/826536/20191112SXLDBX/826536_0240565310_1573534921428.jpg/t150" onerror='this.src="https://www.shehuiapp.com/content/resources/images/avatar_placeholder_300.png"' />
                                </i>
                            </div>
                            <div class="user_info_cell_content">
                                <span class="data_post_author_title">小龙</span>
                                <i class="web_wechat_men"></i>
                                <div>
                                    <span class="data_meta_info_xs">摄影师</span>
                                </div>
                            </div>
                        </div>
                        <div class="data_post_fee_info">
                            <span class="data_meta_info">约拍</span>
                            <span class="data_meta_info span_v2_margin_left">河南郑州</span>
                            <span class="span_v2_margin_left">希望互免</span>
                        </div>
                        <div class="data_post_message v8_margin">
                            要拍一组工笔画的作品，有意向的小姐姐可以联系我，以下是我的一些作品
                            <span class="data_meta_info">（9张）</span>
                        </div>
                        <div class="row data_post_image_row">
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/826536/20191123Z6LX52/826536_029814331_1574469663810.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/826536/20191123Z6LX52/826536_027133712_1574469663810.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/826536/20191123Z6LX52/826536_026823753_1574469663810.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                        </div>
                        <div class="data_meta_info v10_margin">
                            <span class="data_meta_info">2019年11月23日08:41</span>
                        </div>
                    </a>
                </div>



                <div class="data_post_container">
                    <a class="data_post_container_link" href="/y/990459">
                        <div class="user_info_cell_sm v10_margin_bottom">
                            <div class="user_info_cell_avatar">
                                <i class="data_post_author_title_link" data-url="/u/1533917">
                                    <img class="img-circle data_avatar_small2" src="http://thirdwx.qlogo.cn/mmopen/vi_32/DYAIOgq83eq5mKGj1W9a5FXZITskpnVEtibjqJT4VHico2kLGjnQAjqvZBU33gS32Lp9XDC07NvxG466Hgr1g76A/132" onerror='this.src="https://www.shehuiapp.com/content/resources/images/avatar_placeholder_300.png"' />
                                </i>
                            </div>
                            <div class="user_info_cell_content">
                                <span class="data_post_author_title">小明的绿领巾</span>
                                <i class="web_wechat_men"></i>
                                <div>
                                    <span class="data_meta_info_xs">摄影师</span>
                                </div>
                            </div>
                        </div>
                        <div class="data_post_fee_info">
                            <span class="data_meta_info">约拍</span>
                            <span class="data_meta_info span_v2_margin_left">河南郑州</span>
                            <span class="span_v2_margin_left">希望互免</span>
                        </div>
                        <div class="data_post_message v8_margin">
                            新人练手，希望互勉，若不嫌弃，尽力而为
                            <span class="data_meta_info">（4张）</span>
                        </div>
                        <div class="row data_post_image_row">
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/1533917/20191116F12NHH/1533917_0137284320_1573898559415.jpeg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/1533917/20191116F12NHH/1533917_0108189924_1573898656813.jpeg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                            <div class="col-xs-4 col-md-2 data_post_image_cell">
                                <img src="http://image.shehuiapp.com/u/1533917/20191116F12NHH/1533917_0192946323_1573898656812.jpeg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                            </div>
                        </div>
                        <div class="data_meta_info v10_margin">
                            <span class="data_meta_info">2019年11月16日18:05</span>
                        </div>
                        <div class="v10_margin">
                            <span class="label label-success">摄会社Club会员可请求</span>
                        </div>
                    </a>
                </div>
            </div>


            <div class="container pager_container">
                <nav>
                    <ul class="pager">
                        <li class="disabled">
                            <a href="javascript:void(0);" aria-label="Previous">
                                <span aria-hidden="true">上一页</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="/y?location=4101&amp;page=0" aria-label="Next">
                                <span aria-hidden="true">1</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/y?location=4101&amp;page=1" aria-label="Next">
                                <span aria-hidden="true">2</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/y?location=4101&amp;page=2" aria-label="Next">
                                <span aria-hidden="true">3</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/y?location=4101&amp;page=3" aria-label="Next">
                                <span aria-hidden="true">4</span>
                            </a>
                        </li>
                        <li class="distance">
                            <span>...</span>
                        </li>
                        <li class="">
                            <a href="/y?location=4101&amp;page=26" aria-label="Next">
                                <span aria-hidden="true">27</span>
                            </a>
                        </li>
                        <li>
                            <a href="/y?location=4101&amp;page=1" aria-label="Next">
                                <span aria-hidden="true">下一页</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
        <div class="col-sm-3 fy-rside-panel">
            <div>
                <a role="button" class="btn btn-success btn-sm btn_login_required" data-login="1" style="width:100%;" href="/y/publish">发布信息</a>
            </div>
            <div class="v8_margin"></div>

            <div class="data_posts">
                <div class="data_post_cell_dotted">
                    <a class="data_post_title_link" href="/about">>>关于我们</a>
                    <br />
                    <a class="data_post_title_link" href="http://mp.weixin.qq.com/s?__biz=MzI5NTA0NzAwMA==&mid=504523102&idx=1&sn=1449a6fa4728921676dbf370e7debf2a&chksm=77bf536940c8da7fd9257ea9c5455f1633e57b34fa0692d4b5ed868ab1b7a6dc459355a6b241&scene=1&srcid=0909nP2GXXC6OCSM0j9BNHEs#rd" rel="nofollow">>>使用指南</a>
                    <br />
                    <a class="data_post_title_link" href="/UserAdvice/Submit">>>向我们提建议</a>
                </div>
            </div>
            <div class="v8_margin">

                <div class="data_post_cell form_header_righticon download_panel">
                    <div class="nav_left_items flex_row_panel">
                        <img class="data_avatar_small2" src="/content/custom/logo.png" />
                        <div class="span_v5_margin_left">
                            <div class="data_meta_text_big">摄会社APP</div>
                            <div class="data_meta_info">摄影约拍平台</div>
                        </div>
                    </div>
                    <div class="nav_right_items flex_row_panel">
                        <a class="btn btn-default" href="/Download" role="button">立即下载</a>
                    </div>
                </div>
            </div>
            <div class="v8_margin"></div>

            <div class="data_posts">
                <div class="data_post_cell_dotted">
                    <span class="data_group_title">关注公众号</span>
                </div>
                <div class="data_post_cell_dotted">
                    <img src="/content/custom/wechat_qrcode.jpg" style="width:100%;height:auto;max-width:300px;margin-left:0px;" />
                </div>
            </div>
            <div class="v8_margin"></div>


            <div class="data_posts">
                <div class="data_post_cell_dotted">
                    <span class="data_group_title">联系我们</span>
                </div>
                <div class="data_post_cell_dotted">
                    <img src="/content/custom/contactwechat.jpg" style="width:100%;height:auto;max-width:300px;margin-left:0px;" />
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="fy-docs-footer " role="contentinfo">
    <div class="container xzero_padding" style="text-align:center;">
        <a href="https://www.shehuiapp.com">
            <span class="data_meta_info">
                © 2014 - 2019 摄会社 摄影师模特摄影约拍演艺通告平台
            </span>
        </a>
    </div>
</footer>





<script type="text/javascript">var siteRoot = "https://www.shehuiapp.com/";</script>

<script src="../js/jquery.min.js"></script>
<script src="../js/core36.min.js"></script>


<link rel="stylesheet" href="../css/weui.min.css">
<script type="text/javascript">
    $(function () { $(".data_posts").on("click", ".data_post_author_title_link", function (t) { var a = $(this).attr("data-url"); a.length > 0 && window.open(a, "_self"), t.stopPropagation(), t.preventDefault() }) });
</script>




<div id="notification_panel" style="position:fixed;">
    <div class="data_posts">
        <div class="data_post_cell" style="text-align:center;">
            <a class="btn btn-xs btn-primary" role='button' href="/notification">加载中</a>
        </div>
    </div>
</div>



<script type="text/javascript" src="https://tajs.qq.com/stats?sId=45681568" charset="UTF-8"></script>
</body>
</html>