<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">

    <link href="../css/core73.min.css" rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}"></script>

    <style type="text/css">

        .biaoqian{
            background: #1b6d85;
        }

    </style>

</head>
<body class="body_default">

<header class="navbar navbar-fixed-top fy-docs-nav" id="top" role="banner">

    <!-- 导航条 -->
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#fy-navbar" aria-controls="fy-navbar" aria-expanded="false">
                <span class="sr-only">导航切换</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand fy-navbar-brand" href="/" title="摄会社 - 摄影师模特摄影约拍演艺通告平台">
                <div>
                    <img src="../images/logo.png" class="fy-navbar-logo" />
                    <span>艺术摄</span>
                </div>
            </a>
        </div>
        <nav id="fy-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="uul">
                <li>
                    <a class="fy-navItem-active" href="#">首页</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-theme/att}">关注</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-theme/zipai}">自拍</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-theme/top}">主题</a>
                </li>
                <li shiro:hasPermission="query">
                <li th:replace="common/my :: my"></li>
                </li>
                <li>
                    <a id="" class="fy-navItem-notification" href="#">通知</a>
                </li>
                <li>
                    <a class="login" href="javascript:;">加入会员</a>
                </li>
            </ul>
        </nav>
    </div>

</header>

<div class="fy-docs-nav-distance"></div>
<div class="container bottom_menu_margin_plus xzero_padding">
    <div class="row" style="margin-left:0px;margin-right:0px;">

        <div class="col-sm-9 xzero_padding">

            <!-- 地址 费用 性别 -->
            <div class="data_posts">

                <!-- 地址 -->
                <div class="data_post_cell_dotted">
                    <span class="data_meta_info">地区：</span>
                    <a class="data_item_link data_city" href="javascript:;">全部</a>
                    <a class="data_item_link data_city" href="javascript:;">北京</a>
                    <a class="data_item_link data_city" href="javascript:;">上海</a>
                    <a class="data_item_link data_city" href="javascript:;">天津</a>
                    <a class="data_item_link data_city" href="javascript:;">重庆</a>
                    <a class="data_item_link data_city" href="javascript:;">广州</a>
                    <a class="data_item_link data_city" href="javascript:;">深圳</a>
                    <a class="data_item_link data_city" href="javascript:;">南京</a>
                    <a class="data_item_link data_city" href="javascript:;">杭州</a>
                    <a class="data_item_link data_city" href="javascript:;">郑州</a>
                    <a class="data_item_link data_city" href="javascript:;">武汉</a>
                    <a class="data_item_link data_city" href="javascript:;">长沙</a>
                    <a class="data_item_link data_city" href="javascript:;">成都</a>
                    <a class="data_item_link data_city" href="javascript:;">西安</a>
                    <a class="data_item_link data_city" href="javascript:;">哈尔滨</a>
                    <a class="data_item_link data_city" href="javascript:;">长春</a>
                    <a class="data_item_link data_city" href="javascript:;">沈阳</a>
                    <a class="data_item_link data_city" href="javascript:;">大连</a>
                    <a class="data_item_link data_city" href="javascript:;">石家庄</a>
                    <a class="data_item_link data_city" href="javascript:;">合肥</a>
                    <a class="data_item_link data_city" href="javascript:;">济南</a>
                    <a class="data_item_link data_city" href="javascript:;">青岛</a>
                    <a class="data_item_link data_city" href="javascript:;">南昌</a>
                    <a class="data_item_link data_city" href="javascript:;">福州</a>
                    <a class="data_item_link data_city" href="javascript:;">厦门</a>
                    <a class="data_item_link data_city" href="javascript:;">南宁</a>
                    <a class="data_item_link data_city" href="javascript:;">昆明</a>
                    <a class="data_item_link data_city" href="javascript:;">苏州</a>
                    <a class="data_item_link data_city" href="javascript:;">珠海</a>
                    <a class="data_item_link data_city" href="javascript:;">东莞</a>
                    <a class="data_item_link data_city" href="javascript:;">香港</a>
                    <a class="data_item_link data_city" href="javascript:;">澳门</a>
                    <a class="data_item_link data_city" href="javascript:;">台湾</a>
                    <a class="data_item_link data_city" href="javascript:;">>>其他地区</a>
                </div>

                <!-- 费用条件 -->
                <div class="data_post_cell_dotted">
                    <span class="data_meta_info">费用：</span>
                    <a class="data_item_link data_cost" href="javascript:;">全部</a>
                    <a class="data_item_link data_cost" href="javascript:;" val="1">希望互免</a>
                    <a class="data_item_link data_cost" href="javascript:;" val="2">需要收费</a>
                    <a class="data_item_link data_cost" href="javascript:;" val="3">愿意付费</a>
                    <a class="data_item_link data_cost" href="javascript:;" val="4">费用协商</a>
                </div>

                <!-- 身份条件 -->
                <div class="data_post_cell_dotted">
                    <span class="data_meta_info">身份：</span>
                    <a class="data_item_link data_role" href="javascript:;">全部</a>
                    <a class="data_item_link data_role" href="javascript:;" val="2">摄影师</a>
                    <a class="data_item_link data_role" href="javascript:;" val="3">模特</a>
                    <a class="data_item_link data_role" href="javascript:;" val="4">网店</a>
                    <a class="data_item_link data_role" href="javascript:;" val="5">校园</a>
                    <a class="data_item_link data_role" href="javascript:;" val="6">艺术其他</a>
                </div>

                <!-- 性别条件 -->
                <div class="data_post_cell_dotted">
                    <span class="data_meta_info">性别：</span>
                    <a class="data_item_link" href="javascript:;">全部</a>
                    <a class="data_item_link data_sex" href="javascript:;" val="1">男
                        <i class="web_wechat_men"></i>
                    </a>
                    <a class="data_item_link data_sex" href="javascript:;" val="2">女
                        <i class="web_wechat_women"></i>
                    </a>
                </div>

                <!-- 条件选择js -->
                <script type="text/javascript">
                    $(document).ready(function () {

                        var city;
                        var cost;
                        var role;
                        var sex;

                        function data_city(){
                            $(".data_city").each(function () {
                                if($(this).hasClass("biaoqian")){
                                    city=$(this).text();
                                    return;
                                }
                            });
                        }
                        function dataCost(){
                            $(".data_cost").each(function () {
                                if($(this).hasClass("biaoqian")){
                                    cost=$(this).attr("val");
                                    return;
                                }
                            });
                        }
                        function dataRole(){
                            $(".data_role").each(function () {
                                if($(this).hasClass("biaoqian")){
                                    role=$(this).attr("val");
                                    return;
                                }
                            });
                        }
                        function dataSex(){
                            $(".data_sex").each(function () {
                                if($(this).hasClass("biaoqian")){
                                    sex=$(this).attr("val");
                                    return;
                                }
                            });
                        }
                        function data(){
                            if(city==undefined){
                                city="";
                            }
                            if (cost==undefined){
                                cost=0;
                            }
                            if(role==undefined){
                                role=0;
                            }
                            if(sex==undefined){
                                sex=0;
                            }
                        }

                        //地址
                        $(".data_city").click(function () {

                            $(".data_city").each(function () {
                                if($(this).hasClass("biaoqian")){
                                    $(this).removeClass("biaoqian");
                                }
                            });
                            $(this).addClass("biaoqian");
                            data_city();
                            dataCost();
                            dataRole();
                            dataSex();
                            data();
                            location.href="/shoot-user/index?city="
                                +city+"&costId="+cost+"&roleId="+role+"&sex="+sex;
                        });

                        //性别选择
                        $(".data_sex").click(function () {

                            //如果有class样式先清除再添加
                            $(".data_sex").each(function () {
                                if($(this).hasClass("biaoqian")){
                                    $(this).removeClass("biaoqian");
                                }
                            });
                            $(this).addClass("biaoqian");
                            data_city();
                            dataCost();
                            dataRole();
                            dataSex();
                            data();
                            location.href="/shoot-user/index?city="
                                +city+"&costId="+cost+"&roleId="+role+"&sex="+sex;
                        });



                        //费用
                        $(".data_cost").click(function () {
                            $(".data_cost").each(function () {
                                if($(this).hasClass("biaoqian")){
                                    $(this).removeClass("biaoqian");
                                }
                            });
                            $(this).addClass("biaoqian");
                            data_city();
                            dataCost();
                            dataRole();
                            dataSex();
                            data();
                            location.href="/shoot-user/index?city="
                                +city+"&costId="+cost+"&roleId="+role+"&sex="+sex;
                        });

                        //身份
                        $(".data_role").click(function () {
                            $(".data_role").each(function () {
                                if($(this).hasClass("biaoqian")){
                                    $(this).removeClass("biaoqian");
                                }
                            });
                            $(this).addClass("biaoqian");
                            data_city();
                            dataCost();
                            dataRole();
                            dataSex();
                            data();
                            location.href="/shoot-user/index?city="
                                +city+"&costId="+cost+"&roleId="+role+"&sex="+sex;
                        });

                    });
                </script>

            </div>

            <!-- 最新约拍返片 -->
            <div class="data_posts v8_margin">
                <div class="data_post_cell_dotted">
                    <div>
                        <span class="data_group_title_bold_sm">约拍返片</span>
                        <div style="float:right;">
                            <a class="data_post_container_link" href="/y/galleries">
                                <span class="data_meta_info">更多返片></span>
                            </a>
                        </div>
                    </div>
                    <div class="row data_post_row v8_margin" style="margin-left:-20px;">
                        <div class="col-xs-4 col-sm-3 col-md-3 row_gallery_cell_one" style="text-align:center;">
                            <a class="data_post_container_link" href="/gallery/993571">
                                <img class="gallery_cell_image" src="http://image.shehuiapp.com/u/506233/20191224E94J5Q/506233_028568361_1577189990176.jpg/s300" alt="夏" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                                    <div class="card_oneline v5_margin">
                                    <span class="data_meta_text">夏</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-4 col-sm-3 col-md-3 row_gallery_cell_one" style="text-align:center;">
                            <a class="data_post_container_link" href="/gallery/993557">
                                <img class="gallery_cell_image" src="http://image.shehuiapp.com/u/812363/20191224KWB14P/812363_019390951_1577177289711.jpg/s300" alt="街拍上海之一" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                                <div class="card_oneline v5_margin">
                                    <span class="data_meta_text">街拍上海之一</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-4 col-sm-3 col-md-3 row_gallery_cell_one" style="text-align:center;">
                            <a class="data_post_container_link" href="/gallery/993550">
                                <img class="gallery_cell_image" src="http://image.shehuiapp.com/u/500204/20191224T8OWDM/500204_010266825_1577176613241.jpg/s300" alt="冬日暖阳" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                                <div class="card_oneline v5_margin">
                                    <span class="data_meta_text">冬日暖阳</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-4 col-sm-3 col-md-3 row_gallery_cell_one" style="text-align:center;">
                            <a class="data_post_container_link" href="/gallery/993540">
                                <img class="gallery_cell_image" src="http://image.shehuiapp.com/u/153469/20191224NL1FIL/153469_019128971_1577171745424.jpeg/s300" alt="舞者" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                                <div class="card_oneline v5_margin">
                                    <span class="data_meta_text">舞者</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 约拍信息 -->
            <div class="data_posts v8_margin" >

                <!-- 约拍信息展示 -->
                <div th:each="tem,index: ${info}">
                    <!-- 循环每条约拍信息展示 -->
                    <div class="data_post_container">
                        <a class="data_post_container_link" th:href="@{/shoot-info/about(id=${tem.id})}">
                            <div class="user_info_cell_sm v10_margin_bottom">
                                <div class="user_info_cell_avatar">

                                    <i class="data_post_author_title_link" data-url="/u/62591">
                                        <img class="img-circle data_avatar_small2" th:src="${tem.shootUser.portyaitl}"/>
                                    </i>

                                </div>
                                <div class="user_info_cell_content">
                                    <span class="data_post_author_title" th:text="${tem.shootUser.userName}">喜欢拍照喜欢你</span>
                                    <i class="web_wechat_men"></i>
                                    <div>
                                        <span class="data_meta_info_xs" th:text="${tem.shootUser.roles.get(0).roleName}">摄影爱好者</span>
                                    </div>
                                </div>
                            </div>
                            <div class="data_post_fee_info">
                                <span class="data_meta_info" th:text="${tem.shootType.typeName}">约拍</span>
                                <span class="data_meta_info span_v2_margin_left" th:text="${tem.shootAddress.shootProw.prow+tem.shootAddress.shootCity.city+tem.shootAddress.shootCountry.country}">河南郑州</span>
                                <span class="span_v2_margin_left" th:text="${tem.shootCost.costName}">费用协商</span>
                                <span th:if="${tem.price!=0 and tem.price>0}" th:text="${tem.price}+'元'"></span>
                            </div>
                            <div class="data_post_message v8_margin" th:text="${tem.content}">
                                有想拍这种风格的没？唯美复古、清新简约、情绪胶片，有的话滴滴，提供拍摄和民宿推荐，费用AA，模特自备服装妆造
                                <!--<span class="data_meta_info" th:text="${tem.shootImages.size}">（3张）</span>-->
                            </div>

                            <div class="row data_post_image_row" >
                                <div th:if="${tem.shootImages!=null}" th:each="images,count : ${tem.shootImages}">
                                <div class="col-xs-4 col-md-2 data_post_image_cell">
                                    <img th:src="${images.imagesName}"/>
                                </div>
                                </div>
                            </div>

                            <div class="data_meta_info v10_margin">
                                <span class="data_meta_info" th:text="${tem.creationDate}">2019年12月21日12:15</span>
                            </div>
                            <div class="v10_margin" th:if="${tem.requireRoles==2}">
                                <span class="label label-success">需要开通会员才能约拍</span>
                            </div>
                        </a>
                    </div>

                </div>

                <!-- 分页 数据 当前页 总页数 -->
                <tr>
                    <td hidden>
                        <input hidden type="text" th:value="${current}" id="current">
                        <input hidden type="text" th:value="${pages}" id="pages">
                    </td>
                </tr>

                <!-- 翻页按钮 -->
                <div class="container pager_container">
                <nav>
                    <ul class="pager">
                        <li>
                            <a href="javascript:;" id="prev" aria-label="Previous">
                                <span>上一页</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span th:text="'当前页'+${current}+'/'+${pages}"></span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" id="next" aria-label="Next">
                                <span>下一页</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

                <!-- 分页js -->
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#prev").click(function () {
                            var current = Number($("#current").val())-1;
                            location.href = "/shoot-user/index?current=" + current;
                        });
                        $("#next").click(function () {
                            var current = Number($("#current").val())+1;
                            if(current>=Number($("#pages").val())){
                                current=Number($("#pages").val());
                            }
                            location.href = "/shoot-user/index?current=" + current;
                        })
                    })
                </script>


            </div>

            <!-- 关于我们 -->
            <div class="col-sm-3 fy-rside-panel" style="float: right">
                <div>
                    <a role="button" class="btn btn-success btn-sm btn_login_required" data-login="1" style="width:100%;" href="/y/publish">发布信息</a>
                </div>
                <div class="v8_margin"></div>

                <div class="data_posts">
                    <div class="data_post_cell_dotted">
                        <a class="data_post_title_link" href="/about">>>关于我们</a>
                        <br />
                        <a class="data_post_title_link" href="http://mp.weixin.qq.com/s?__biz=MzI5NTA0NzAwMA==&mid=504523102&idx=1&sn=1449a6fa4728921676dbf370e7debf2a&chksm=77bf536940c8da7fd9257ea9c5455f1633e57b34fa0692d4b5ed868ab1b7a6dc459355a6b241&scene=1&srcid=0909nP2GXXC6OCSM0j9BNHEs#rd" rel="nofollow">>>使用指南</a>
                        <br />
                        <a class="data_post_title_link" href="/UserAdvice/Submit">>>向我们提建议</a>
                    </div>
                </div>
                <div class="v8_margin">

                    <div class="data_post_cell form_header_righticon download_panel">
                        <div class="nav_left_items flex_row_panel">
                            <img class="data_avatar_small2" src="/content/custom/logo.png" />
                            <div class="span_v5_margin_left">
                                <div class="data_meta_text_big">摄会社APP</div>
                                <div class="data_meta_info">摄影约拍平台</div>
                            </div>
                        </div>
                        <div class="nav_right_items flex_row_panel">
                            <a class="btn btn-default" href="/Download" role="button">立即下载</a>
                        </div>
                    </div>
                </div>
                <div class="v8_margin"></div>

                <div class="data_posts">
                    <div class="data_post_cell_dotted">
                        <span class="data_group_title">关注公众号</span>
                    </div>
                    <div class="data_post_cell_dotted">
                        <img src="/content/custom/wechat_qrcode.jpg" style="width:100%;height:auto;max-width:300px;margin-left:0px;" />
                    </div>
                </div>
                <div class="v8_margin"></div>


                <div class="data_posts">
                    <div class="data_post_cell_dotted">
                        <span class="data_group_title">联系我们</span>
                    </div>
                    <div class="data_post_cell_dotted">
                        <img src="/content/custom/contactwechat.jpg" style="width:100%;height:auto;max-width:300px;margin-left:0px;" />
                    </div>
                </div>
            </div>

        </div>
</div>

</div>

<footer class="fy-docs-footer " role="contentinfo">
    <div class="container xzero_padding" style="text-align:center;">
        <a href="https://www.shehuiapp.com">
            <span class="data_meta_info">
                © 2014 - 2019 摄会社 摄影师模特摄影约拍演艺通告平台
            </span>
        </a>
    </div>
</footer>

<script th:src="@{/js/notlogin.js}"></script>

</body>
</html>