<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>关于我们 - 摄会社</title>
    <meta name="description" />
    <meta name="keywords" />

    <link href="../css/core73.min.css" rel="stylesheet" />
    <script th:src="@{/js/jquery.min.js}"></script>
    <style>
        .cen{
            color: green;
            margin-left: 200px;
            margin-right: 200px;
        }
    </style>

</head>
<body class="body_default">

<div class="cen">
    <h2>摄会社使用指南</h2><br><br>
    <h4>关于摄会社</h4><br><br><br>
    <h4>摄会社使用指南</h4><br><br>
    <div>
        1、如何使用摄会社<br>
        关注「摄会社」公众号（ID：shehuishe8），直接扫描下方二维码即可关注，然后点击底部菜单「我要约拍」进入摄会社约拍页面；
        <p align="center">
            <img th:src="@{/images/weixin.jpg}" style="width:100%;height:auto;max-width:300px;margin-left:0px;">
        </p>
        再点击「摄会社」底部菜单中的「我的」这一栏，进入编辑个人资料页面，设置自己的身份、联系方式，完成后会自动保存，您就可以使用摄会社开始约拍了。
        <br><br>
        *您也可以在任意浏览器中搜索「摄会社」找到我们。<br><br>

        2、如何设置个人身份<br><br>



        这是您在摄会社上约拍第一基础信息，他人通过第一眼看到的这个信息来判断您是否为他人想要约拍的对象，请准确填写。如果您是模特，但您选为了摄影师或摄影爱好者身份，可能会导致您收到的约拍请求过少。如果您是摄影师您选了模特的身份，可能会收到一些来自摄影师的约拍请求造成信息干扰。所以请准确设置您的个人身份。
        <br><br>


        3、如何设置联系方式

        <br><br>

        您在摄会社上设置的联系方式会在您发起约拍后会展现给对方，收到您的约拍请求的对方会通过您留的联系方式与您取得联系，请保证至少有一个有效联系方式，不然您可能错失一次约拍磋商的机会。
        <br><br><br><br>
        <h4>
            使用摄会社约拍
        </h4><br>
        您可以对中意的约拍信息发起约拍，或者发布约拍信息吸引他人应征。
        <br><br>


        1、如何发布约拍信息？

        <br><br>

        关注「摄会社」,点击底部菜单「我要约拍」进入摄会社约拍页面，滑到最底部，点击「 发布约拍信息」按钮。
        <br><br>


        2、 约拍描述应该怎么填？

        <br><br>

        详细的描述可以吸引合适的人来应征，您可以尝试按这个顺序写：

        <br><br>

        <p>个人擅长风格>></p>

        <p>想约拍的风格或主题>></p>

        <p>约拍的时间>></p>

        <p>对对方的要求>></p>

        <p>其他的更多自行补充。</p>

        <br><br>

        选择收费、免费、付费或费用协商请基于自己想要的结果来定，我们无法左右他人是否为您免费。

        <br><br>

        3、我可以上传他人作品作为我的样图吗？
        <br><br>


        不能，如上传，务必注明出处，尊重他人劳动成果。个人
        作品上传遵循个人原创原则，上传他人作品样图注明来源出处。上传作品请尽量避免有争议性内容，包括但不限于露点、血腥、暴力等。

        <br><br><br>
        <h4>关于约拍请求</h4><br>
        1、如何知道自己收到约拍请求了呢？
        <br><br>


        关注「摄会社」公众号（ID：shehuishe8），即时查收提醒。
        <br><br>


        2、我必须联系所有向我发起约拍的人吗？

        <br><br>

        不，您可以选择性联系。您收到约拍后，如您觉得对方不符合自己主题要求可以选择不予联系。联系对方可以注明摄会社ID，减少被拒几率，毕竟这是时常有发生的事。

        <br><br>

        3、联系了对方没回应怎么办？

        <br><br>

        即使对方在摄会社上向你发起了约拍，TA也不是一定会和你展开对话，时间和空间上的不重合也不能约拍到一起去。互相尊重，保持平常心和耐心。

        <br><br>

        4、如何增加自己被联系的几率？

        <br><br>

        可以尝试在发起约拍前完善自己个人资料，添加有效联系方式，丰富自己的作品相册，有过不少之前的成功约拍作品也是加分项，好的作品是最好的推广。在约拍留言中详细描述自己想拍的风格和主题，可以让对方更好的判断双方是否合适。

        <br><br>

        5、发起的约拍能够撤回吗？
        <br><br>


        抱歉，目前发起的约拍请求不能撤回。
        <br><br>


        6、遇到侮辱、骚扰类的恶意约拍怎么办？
        <br><br>


        请截图并直接向客服举报。
        <br><br><br><br>
        <h4>关于担保拍摄、提现</h4><br>
        1、担保拍摄是怎么回事？
        <br><br>


        您可以在摄会社网站上购买他人需要收费的摄影服务，购买后约拍费用会暂存到我们平台。拍摄完成后相关款项才会打到对方账户。类似您在淘宝中购物买东西的流程，我们担当的类似支付宝，这样就好理解了。
        <br><br>


        2、拍摄完成的钱如何提现？

        <br><br>

        账户余额栏进入，输入提现金额，申请提现，1到2个工作日就可到账。
        <br><br><br><br>
        <h4>关于作品相册、发现、关注</h4><br>
        您可以在摄会社上传成功约拍的作品和关联作品的参与人员，方便进行约拍作品管理。
        <br><br>


        您的作品相册可以被「发现」收录，收录后会通过站内提示提醒您，如果您觉得自己的作品不错也可以向我们自荐。
        <br><br>


        您也可以通过关注按钮关注他人，在他人作品或约拍信息更新时，您可以在「关注」栏目随时找到TA。
        <br><br><br><br>

        <h4>其他问题</h4><br>
        1、我被侵权了怎么投诉？
        <br><br>


        我们在每个页面均设置了投诉按钮，您可以在任意页面发起投诉，我们会及时受理。

        <br><br>

        2、摄会社会员是什么？


<br><br>
        摄会社club会员是我们针对约拍提供的一个增值服务，具体介绍可以戳这里。


        <br><br>
        3、如何联系客服？
        <br><br>


        在「摄会社」公众号（15236629034）中直接留言，即可与我们交流。

        <br><br>

        或者添加我们官服微信与我们取得联系。
        <br><br>
        <p align="center">
        <img th:src="@{/images/weixin.jpg}" style="width:100%;height:auto;max-width:300px;margin-left:0px;">
        </p>
    </div>
</div>




</body>
</html>