
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">

    <title>发出请求 - 艺术摄</title>
    <meta name="description" />
    <meta name="keywords" />

    <link href="../css/core73.min.css" rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}"></script>

</head>
<body class="body_default">

<header class="navbar navbar-fixed-top fy-docs-nav" id="top" role="banner">

    <!-- 导航条 -->
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#fy-navbar" aria-controls="fy-navbar" aria-expanded="false">
                <span class="sr-only">导航切换</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand fy-navbar-brand" href="/" title="摄会社 - 摄影师模特摄影约拍演艺通告平台">
                <div>
                    <img th:src="@{/images/logo.png}" class="fy-navbar-logo" />
                    <span>艺术摄</span>
                </div>
            </a>
        </div>
        <nav id="fy-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="uul">
                <li>
                    <a th:href="@{/shoot-user/index}">首页</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-attention/attention}">关注</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-theme/zipai}">自拍</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-theme/top}">主题</a>
                </li>
                <li shiro:hasPermission="query">
                <li th:replace="common/my :: my"></li>
                </li>
            </ul>
        </nav>
    </div>

</header>

<div class="fy-docs-nav-distance"></div>

<div class="container bottom_menu_margin_plus xzero_padding">
    <div class="tabs_header">


        <ul id="message_tabs" class="nav nav-tabs">
            <li role="presentation" class=""><a th:href="@{/shoot-letter/inform}" data-tabname="notifications">通知</a></li>
            <li role="presentation" class=""><a th:href="@{/shoot-letter/message}" data-tabname="chat">私信</a></li>
            <li role="presentation" class="active"><a th:href="@{/shoot-letter/requestMessage}" data-tabname="sentrequests">发出请求</a></li>
            <li role="presentation" class=""><a th:href="@{/shoot-letter/responseMessage}" data-tabname="incomingrequests">收到请求</a></li>
        </ul>


    </div>

    <div class="data_posts tab_panel tabs_header_margin" data-tabname="sentrequests">

        <div th:if="${letter==null or letter.size()==0}">
            <h1>你还没有发出请求</h1>
        </div>
        <div th:if="${letter!=null}" th:each="letter,index : ${letter}">

            <div class="data_post_cell">

                <a class="data_post_container_link">
                    <div class="user_info_cell_sm v10_margin_bottom">
                        <a th:href="@{/shoot-letter/aboutMessage(infoId=${letter.infoId})}">
                        <div class="user_info_cell_avatar">
                            <i class="data_post_author_title_link" >
                                <img class="img-circle data_avatar_small2" th:src="${letter.shootUser.portyaitl}" />
                            </i>
                        </div>
                        </a>
                        <div class="user_info_cell_content">
                            <i class="data_post_author_title_link" data-url="/u/1531674">
                                <span class="data_post_author_title" th:text="${letter.shootUser.userName}">街头punk</span>
                            </i>
                            <i class="web_wechat_women"></i>
                            <div>
                                <span class="data_meta_info" th:text="${letter.shootUser.shootAddress.shootProw.prow+
                                letter.shootUser.shootAddress.shootCity.city+letter.shootUser.shootAddress.shootCountry.country}">河南郑州</span>
                                <span class="data_meta_info" th:text="${letter.shootUser.roles.get(0).roleName}">模特</span>
                            </div>
                        </div>
                    </div>
                    <div class="data_post_content_clear"></div>
                    <div class="data_post_message v10_margin" th:text="${letter.content}">
                        周二
                    </div>
                    <div class="data_post_message v10_margin" th:text="${'  约拍名:'+letter.shootInfo.content}">
                        周二
                    </div>

                    <!-- 发起约拍请求动态查看 -->
                    <div class="data_post_message v10_margin" th:if="${letter.shootInfo.stateId==3}">
                        <div class="data_post_message v10_margin" style="color: green">
                            对方已接单
                        </div>
                        <div class="data_post_message v10_margin" th:if="${letter.shootInfo.shootCost.costName=='愿意付费'}">
                            <span th:text="${'对方愿意付费 :'+letter.shootInfo.price+'元'}"></span>
                            <span th:if="${letter.describe!=null and letter.describe!=''}">对方已付费</span>
                            <span th:if="${letter.describe==null or letter.describe==''}">对方未付费</span>
                        </div>
                    <div class="data_post_message v10_margin" th:if="${letter.shootInfo.shootCost.costName=='需要收费'}">
                            <span th:text="${'对方需要收费 :'+letter.shootInfo.price}+'元'"></span>
                            <span th:if="${letter.describe!=null and letter.describe!=''}">我已付费</span>
                            <span th:if="${letter.describe==null or letter.describe==''}">我未付费</span>
                            <button th:if="${letter.describe==null or letter.describe==''}" th:val5="${letter.shootInfo.id}" th:val4="${letter.shootInfo.shootCost.costName}" th:val3="${letter.shootInfo.shootType.typeName}" th:val="${letter.putUserId}" th:val2="${letter.shootInfo.price}" class="fukuan">付款</button>
                    </div>
                        <div class="data_post_message v10_margin" th:if="${letter.shootInfo.shootCost.costName=='希望互免'}">
                            希望互免
                    </div>
                        <div class="data_post_message v10_margin" th:if="${letter.shootInfo.shootCost.costName=='费用协商'}">
                                费用协商
                        </div>
                    </div>
                    <input hidden id="money" th:value="${session.user.money}">
                    <!-- 付款操作 -->
                    <script type="text/javascript">


                        //webSocket消息推送
                        var socket;
                        if(typeof(WebSocket) == undefined) {
                            console.log("您的浏览器不支持WebSocket");
                        }else {
                            console.log("您的浏览器支持WebSocket");
                            //实现化WebSocket对象，指定要连接的服务器地址与端口  建立连接
                            socket = new WebSocket('ws://localhost:8088/webSocket');
                            //打开事件
                            socket.onopen = function () {
                                console.log("Socket 已打开");
                            }
                            //获得消息事件
                            socket.onmessage = function(msg) {
                                console.log("获得消息事件");
                            };
                            /*//关闭事件
                            socket.onclose = function() {
                                console.log("Socket已关闭");
                            };*/
                            //发生了错误事件
                            socket.onerror = function() {
                                alert("Socket发生了错误");
                            }
                        }

                            $(".fukuan").unbind('click').click(function () {
                                     var s=$(this);
                                    if(confirm("确定已完成约拍然后付款?")){
                                        var putUserId = $(this).attr("val");
                                        var price = $(this).attr("val2");
                                        var money = $("#money").val();
                                        var typeName = $(this).attr("val3");
                                        var costName = $(this).attr("val4");
                                        var infoId=$(this).attr("val5");
                                            if(money!=undefined && money!='' && money>=price){  //钱够
                                                alert(price);
                                                $.post("/shoot-letter/zhifu",{"price":price,"sendUserId":putUserId,
                                                "typeName":typeName,"costName":costName,"infoId":infoId},function (data) {
                                                    if(data==true || data.toString()=="true"){
                                                        s.text("已付款");
                                                        alert("支付成功");
                                                        //推送消息
                                                        socket.send("对方已付款");
                                                        alert("对方");
                                                    }else {
                                                        alert("支付失败");
                                                    }
                                                },"json");
                                            }else {
                                                alert("余额不够支付请去充值");
                                            }

                                    }
                            });

                    </script>

                    <div class="data_meta_info v10_margin">
                        <span class="data_meta_info" th:text="${letter.creationDate}">2019年12月28日11:20</span>
                    </div>
                </a>
            </div>

        </div>

    </div>


    <div class="v20_margin"></div>
</div>

<script th:src="@{/js/style.js}"></script>

</body>
</html>