<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>自拍 - 艺术摄</title>
    <meta name="description" />
    <meta name="keywords" />

    <link href="../css/core73.min.css" rel="stylesheet" />
    <script th:src="@{/js/jquery.min.js}"></script>

</head>
<body class="body_default">

<style type="text/css">
    .new_item_tip {
        background-color: #fcf8e3;
    }

    .pai_logo {
        width: 60px;
        height: auto;
    }

    .pai_iscoming {
        padding-top: 10px;
    }
</style>

<header class="navbar navbar-fixed-top fy-docs-nav" id="top" role="banner">

    <!-- 导航条 -->
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#fy-navbar" aria-controls="fy-navbar" aria-expanded="false">
                <span class="sr-only">导航切换</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand fy-navbar-brand" href="/" title="摄会社 - 摄影师模特摄影约拍演艺通告平台">
                <div>
                    <img src="../images/logo.png" class="fy-navbar-logo" />
                    <span>艺术摄</span>
                </div>
            </a>
        </div>
        <nav id="fy-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="uul">
                <li>
                    <a th:href="@{/shoot-user/index}">首页</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-attention/attention}">关注</a>
                </li>
                <li>
                    <a class="login fy-navItem-active" th:href="@{/shoot-theme/zipai}">自拍</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-theme/top}">主题</a>
                </li>
                <li shiro:hasPermission="query">
                <li th:replace="common/my :: my"></li>
                </li>
            </ul>
        </nav>
    </div>

</header>

<div class="fy-docs-nav-distance"></div>
<div class="container bottom_menu_margin_plus xzero_padding">
    <div class="newcard_container newcard_container_fix ">
        <div class="flex_row_panel">
            <img src="/content/resources/images/Selfie-512.png" class="pai_logo" />
            <div class="span_v10_margin_left">
                <span class="data_meta_info">发布自拍照片，让大家更好地认识你</span>
                <div class="v10_margin">
                    <a role="button" class="btn btn-default btn-sm btn_login_required" data-login="1" href="/Pai/New">+ 立即参与</a>
                    <span class="data_meta_info span_v5_margin_left">试运行</span>
                </div>
            </div>
        </div>

    </div>


    <div class="row data_post_row newcards_panel v8_margin">
        <div class="col-xs-6 col-sm-3 col-md-3 newcard_cell">


            <div class="newcard">
                <a class="data_post_container_link" href="/pai/993963">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/825520/20191230K7N8ZI/825520_012854861_1577640434829.jpeg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="newcard_content">
                        <div class="card_userline">
                            <img class="img-circle data_avatar_xs" src="http://thirdwx.qlogo.cn/mmopen/vi_32/icvT9YnqgyhI6Z0YeiaOcB2dqDMmGs63bM50bOAHINhnjs6ibdT5xONz0RbVZO4HeBWmeibwEIGicPRCXBbpqAoOk7g/132" />
                            <span class="data_meta_info span_v2_margin_left">lokkkkkky</span>
                            <span class="data_meta_info span_v2_margin_left">香港</span>
                            <span class="data_meta_info span_v2_margin_left">模特</span>
                        </div>
                        <div class="card_oneline v5_margin">
                            <span class="data_meta_info">今天01:27 今夜还吹着风</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 newcard_cell">


            <div class="newcard">
                <a class="data_post_container_link" href="/pai/993960">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/1535774/201912301SVCRM/1535774_028131841_1577639252085.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="newcard_content">
                        <div class="card_userline">
                            <img class="img-circle data_avatar_xs" src="https://wx.qlogo.cn/mmopen/vi_32/DYAIOgq83eol2QnzFdblSrxKNRUCMh85AZ6ZxqDlibNpaPrecYkohza5E973GYE161AWXY77BIWVGpBLVthE8mg/132" />
                            <span class="data_meta_info span_v2_margin_left">&#x1F414;&#x1F414;&#x1F414;jimmy&#x1F60B;</span>
                            <span class="data_meta_info span_v2_margin_left">上海</span>
                            <span class="data_meta_info span_v2_margin_left">摄影师</span>
                        </div>
                        <div class="card_oneline v5_margin">
                            <span class="data_meta_info">今天01:07 自拍一波，单纯为了加积分，请无视就好！</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 newcard_cell">


            <div class="newcard">
                <a class="data_post_container_link" href="/pai/993953">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/1535783/201912295ZJ3B8/1535783_021333651_1577631732046.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="newcard_content">
                        <div class="card_userline">
                            <img class="img-circle data_avatar_xs" src="https://thirdwx.qlogo.cn/mmopen/vi_32/Q3auHgzwzM4aPZAHsjgsehspGsr3fibkNKjS8ZYFzQxuIUlXPFxUHKzgsPwBX6CaLNBibWqfCAVW9d99PhoJ7pEA/132" />
                            <span class="data_meta_info span_v2_margin_left">懒羊羊</span>
                            <span class="data_meta_info span_v2_margin_left">四川成都</span>
                            <span class="data_meta_info span_v2_margin_left">模特</span>
                        </div>
                        <div class="card_oneline v5_margin">
                            <span class="data_meta_info">昨天23:02 试试滤镜&#x1F61C;</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 newcard_cell">


            <div class="newcard">
                <a class="data_post_container_link" href="/pai/993935">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/1535772/20191229PGDHIQ/1535772_0225944232_1577610741585.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="newcard_content">
                        <div class="card_userline">
                            <img class="img-circle data_avatar_xs" src="https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTINuetafQMziaqx86sVF6icEYNao8Xev9DjIicZawzca1a2aZyK4UPZH0tcDtzXALEsrKsg2iaJSFQcwQ/132" />
                            <span class="data_meta_info span_v2_margin_left">涉水的鹤。</span>
                            <span class="data_meta_info span_v2_margin_left">北京</span>
                            <span class="data_meta_info span_v2_margin_left">模特</span>
                        </div>
                        <div class="card_oneline v5_margin">
                            <span class="data_meta_info">昨天17:12 </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 newcard_cell">


            <div class="newcard">
                <a class="data_post_container_link" href="/pai/993917">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/1532997/201912297L9OX2/1532997_028530961_1577594085456.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="newcard_content">
                        <div class="card_userline">
                            <img class="img-circle data_avatar_xs" src="http://image.shehuiapp.com/u/1532997/1532997_037249540_1572365917320.jpg/t150" />
                            <span class="data_meta_info span_v2_margin_left">Ringo</span>
                            <span class="data_meta_info span_v2_margin_left">香港</span>
                            <span class="data_meta_info span_v2_margin_left">摄影师</span>
                        </div>
                        <div class="card_oneline v5_margin">
                            <span class="data_meta_info">昨天12:34 </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 newcard_cell">


            <div class="newcard">
                <a class="data_post_container_link" href="/pai/993900">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/1535757/2019122933PNHS/1535757_022133291_1577555885262.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="newcard_content">
                        <div class="card_userline">
                            <img class="img-circle data_avatar_xs" src="http://thirdwx.qlogo.cn/mmopen/vi_32/93QHSgIpLERVa8oxibXjy85icPFS0Y87NlZrUSNm8m3LF8KAicV4EUsjWKotePibjGY2habSialdTPrqT2KCD78ibMww/132" />
                            <span class="data_meta_info span_v2_margin_left">不爱吃草莓沙司</span>
                            <span class="data_meta_info span_v2_margin_left">上海松江</span>
                            <span class="data_meta_info span_v2_margin_left">模特</span>
                        </div>
                        <div class="card_oneline v5_margin">
                            <span class="data_meta_info">昨天01:58 </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 newcard_cell">


            <div class="newcard">
                <a class="data_post_container_link" href="/pai/993892">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/1535750/20191228MZ425U/1535750_028480541_1577547496590.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="newcard_content">
                        <div class="card_userline">
                            <img class="img-circle data_avatar_xs" src="http://image.shehuiapp.com/u/1535750/201912285W3GEN/1535750_028598052_1577546580011.jpg/t150" />
                            <span class="data_meta_info span_v2_margin_left">那年 `</span>
                            <span class="data_meta_info span_v2_margin_left">上海徐汇</span>
                            <span class="data_meta_info span_v2_margin_left">模特</span>
                        </div>
                        <div class="card_oneline v5_margin">
                            <span class="data_meta_info">前天23:38 </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 newcard_cell">


            <div class="newcard">
                <a class="data_post_container_link" href="/pai/993889">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/1533591/20191228AIDYHX/1533591_0203025711_1577545749180.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="newcard_content">
                        <div class="card_userline">
                            <img class="img-circle data_avatar_xs" src="http://image.shehuiapp.com/u/1533591/20191109TP1IJM/1533591_010323071_1573266097499.png/t150" />
                            <span class="data_meta_info span_v2_margin_left">会后期的小贱贱</span>
                            <span class="data_meta_info span_v2_margin_left">北京海淀</span>
                            <span class="data_meta_info span_v2_margin_left">摄影师</span>
                        </div>
                        <div class="card_oneline v5_margin">
                            <span class="data_meta_info">前天23:09 我姑娘&#x1F609;&#x1F609;&#x1F609;</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 newcard_cell">


            <div class="newcard">
                <a class="data_post_container_link" href="/pai/993885">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/1535748/20191228F0D0C5/1535748_019280381_1577543797995.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="newcard_content">
                        <div class="card_userline">
                            <img class="img-circle data_avatar_xs" src="http://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTJfySwRreOLIybHeHAU5t5LyBSbXoDicmr0QtaSC4BsJq2Y00SwlicMuNV7selvZgqlkWZdbb1Nv4pw/132" />
                            <span class="data_meta_info span_v2_margin_left">杺</span>
                            <span class="data_meta_info span_v2_margin_left">北京朝阳</span>
                            <span class="data_meta_info span_v2_margin_left">模特</span>
                        </div>
                        <div class="card_oneline v5_margin">
                            <span class="data_meta_info">前天22:38 </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 newcard_cell">


            <div class="newcard">
                <a class="data_post_container_link" href="/pai/993880">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/1535747/20191228SFH96X/1535747_016972431_1577538864751.jpeg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="newcard_content">
                        <div class="card_userline">
                            <img class="img-circle data_avatar_xs" src="http://thirdwx.qlogo.cn/mmopen/vi_32/kBpSkzndXstkd9Cic87wJ86ncjKHsyJpaNawusGZK5q2UD8iaOZT50lh6YqPRbVr8l7oX1Rvb35N7GRGx1Nq92VQ/132" />
                            <span class="data_meta_info span_v2_margin_left">Serendipity</span>
                            <span class="data_meta_info span_v2_margin_left">上海松江</span>
                            <span class="data_meta_info span_v2_margin_left">模特</span>
                        </div>
                        <div class="card_oneline v5_margin">
                            <span class="data_meta_info">前天21:14 </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 newcard_cell">


            <div class="newcard">
                <a class="data_post_container_link" href="/pai/993831">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/1532997/2019122840RH10/1532997_027333481_1577497730034.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="newcard_content">
                        <div class="card_userline">
                            <img class="img-circle data_avatar_xs" src="http://image.shehuiapp.com/u/1532997/1532997_037249540_1572365917320.jpg/t150" />
                            <span class="data_meta_info span_v2_margin_left">Ringo</span>
                            <span class="data_meta_info span_v2_margin_left">香港</span>
                            <span class="data_meta_info span_v2_margin_left">摄影师</span>
                        </div>
                        <div class="card_oneline v5_margin">
                            <span class="data_meta_info">前天09:48 為了積分才發&#x1F602;&#xA;深港攝影師來跟大家揮个手&#x1F44B;&#x1F3FD;&#xA;剛從英國攝影碩士畢業回流亞洲地區&#x1F4F8;</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 newcard_cell">


            <div class="newcard">
                <a class="data_post_container_link" href="/pai/993823">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/1535722/201912280HV26M/1535722_0288909113_1577467019335.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="newcard_content">
                        <div class="card_userline">
                            <img class="img-circle data_avatar_xs" src="https://wx.qlogo.cn/mmopen/vi_32/NbsQefZeEzgNY68c8KyGX3FBxzOI6ibfMT43EOeHknNKkMrwfyqkq11lYwoFSdRqvlmQKokrvMS9LrkodbiaLW1A/132" />
                            <span class="data_meta_info span_v2_margin_left">&#x1F90D;</span>
                            <span class="data_meta_info span_v2_margin_left">河北唐山</span>
                            <span class="data_meta_info span_v2_margin_left">模特</span>
                        </div>
                        <div class="card_oneline v5_margin">
                            <span class="data_meta_info">前天01:17 要个积分</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 newcard_cell">


            <div class="newcard">
                <a class="data_post_container_link" href="/pai/993774">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/824423/20191227K656CC/824423_016022454_1577426044630.jpeg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="newcard_content">
                        <div class="card_userline">
                            <img class="img-circle data_avatar_xs" src="http://image.shehuiapp.com/u/824423/20191227FBE0O1/824423_019861021_1577425815821.jpeg/t150" />
                            <span class="data_meta_info span_v2_margin_left">L</span>
                            <span class="data_meta_info span_v2_margin_left">上海虹口</span>
                            <span class="data_meta_info span_v2_margin_left">模特</span>
                        </div>
                        <div class="card_oneline v5_margin">
                            <span class="data_meta_info">2019年12月27日13:54 哈喽！坐标上海喜欢拍照</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 newcard_cell">


            <div class="newcard">
                <a class="data_post_container_link" href="/pai/993769">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/821395/20191227QE0DUI/821395_021988531_1577420311212.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="newcard_content">
                        <div class="card_userline">
                            <img class="img-circle data_avatar_xs" src="http://image.shehuiapp.com/u/821395/821395_022706648_1565233299331.jpg/t150" />
                            <span class="data_meta_info span_v2_margin_left">Andy</span>
                            <span class="data_meta_info span_v2_margin_left">广东广州</span>
                            <span class="data_meta_info span_v2_margin_left">摄影爱好者</span>
                        </div>
                        <div class="card_oneline v5_margin">
                            <span class="data_meta_info">2019年12月27日12:18 广州黄埔，自由业余摄影师</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 newcard_cell">


            <div class="newcard">
                <a class="data_post_container_link" href="/pai/993767">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/825353/20191227MIKF15/825353_024981861_1577418864514.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="newcard_content">
                        <div class="card_userline">
                            <img class="img-circle data_avatar_xs" src="https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTIdgQ8tQicNhb7MmjnmqPUgItwwmve9yqxicnBu0HdHpDS7wIyKpfq0iapV6bJZocPNia1CF2E2kBm3ibA/132" />
                            <span class="data_meta_info span_v2_margin_left">&#x1F420;</span>
                            <span class="data_meta_info span_v2_margin_left">北京朝阳</span>
                            <span class="data_meta_info span_v2_margin_left">模特</span>
                        </div>
                        <div class="card_oneline v5_margin">
                            <span class="data_meta_info">2019年12月27日11:54 Hi</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 newcard_cell">


            <div class="newcard">
                <a class="data_post_container_link" href="/pai/993765">
                    <img style="width:100%;height:auto;" src="http://image.shehuiapp.com/u/1535394/20191227DI9V0A/1535394_021586841_1577417809204.jpg/s300" onerror='this.src="https://www.shehuiapp.com/content/resources/images/photo_placeholder_300.png"' />
                    <div class="newcard_content">
                        <div class="card_userline">
                            <img class="img-circle data_avatar_xs" src="http://thirdwx.qlogo.cn/mmopen/vi_32/mVaN1K0AibPTyC0kXppiaAzibBibabt8SvBFqaNibfo3xYUeAicN9XWsZUSmDIIYoGDJe8jFLG4WLxq9DFBAjdcKtjaQ/132" />
                            <span class="data_meta_info span_v2_margin_left">阿树</span>
                            <span class="data_meta_info span_v2_margin_left">安徽阜阳</span>
                            <span class="data_meta_info span_v2_margin_left">模特</span>
                        </div>
                        <div class="card_oneline v5_margin">
                            <span class="data_meta_info">2019年12月27日11:36 要积分</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="newcard_container_fix">


        <div class="container pager_container">
            <nav>
                <ul class="pager">
                    <li class="disabled">
                        <a href="javascript:void(0);" aria-label="Previous">
                            <span aria-hidden="true">上一页</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/Pai?page=0" aria-label="Next">
                            <span aria-hidden="true">1</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/Pai?page=1" aria-label="Next">
                            <span aria-hidden="true">2</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/Pai?page=2" aria-label="Next">
                            <span aria-hidden="true">3</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/Pai?page=3" aria-label="Next">
                            <span aria-hidden="true">4</span>
                        </a>
                    </li>
                    <li class="distance">
                        <span>...</span>
                    </li>
                    <li class="">
                        <a href="/Pai?page=40" aria-label="Next">
                            <span aria-hidden="true">41</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Pai?page=1" aria-label="Next">
                            <span aria-hidden="true">下一页</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>






<script type="text/javascript">var siteRoot = "https://www.shehuiapp.com/";</script>

<script src="../js/core36.min.js"></script>


<link rel="stylesheet" href="../css/weui.min.css">
<script type="text/javascript">
    $(function () {
        $(".data_post_container").on("click", function () {
            var container = $(this);
            var dataUrl = container.attr("data-url");
            if (dataUrl.length > 0) {
                window.open(dataUrl, "_self");
            }
        });
    });
</script>


<div id="notification_panel" style="position:fixed;">
    <div class="data_posts">
        <div class="data_post_cell" style="text-align:center;">
            <a class="btn btn-xs btn-primary" role='button' href="/notification">加载中</a>
        </div>
    </div>
</div>


<script th:src="@{/js/notlogin.js}"></script>
<script type="text/javascript" src="https://tajs.qq.com/stats?sId=45681568" charset="UTF-8"></script>
</body>
</html>