<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>自拍 - 艺术摄</title>
    <meta name="description" />
    <meta name="keywords" />

    <link href="../css/core73.min.css" rel="stylesheet" />
    <script th:src="@{/js/jquery.min.js}"></script>

</head>
<body class="body_default">

<style type="text/css">
    .new_item_tip {
        background-color: #fcf8e3;
    }

    .pai_logo {
        width: 60px;
        height: auto;
    }

    .pai_iscoming {
        padding-top: 10px;
    }
</style>

<header class="navbar navbar-fixed-top fy-docs-nav" id="top" role="banner">

    <!-- 导航条 -->
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#fy-navbar" aria-controls="fy-navbar" aria-expanded="false">
                <span class="sr-only">导航切换</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand fy-navbar-brand" href="/" title="摄会社 - 摄影师模特摄影约拍演艺通告平台">
                <div>
                    <img src="../images/logo.png" class="fy-navbar-logo" />
                    <span>艺术摄</span>
                </div>
            </a>
        </div>
        <nav id="fy-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="uul">
                <li>
                    <a th:href="@{/shoot-user/index}">首页</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-attention/attention}">关注</a>
                </li>
                <li>
                    <a class="login fy-navItem-active" th:href="@{/shoot-theme/zipai}">自拍</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-theme/top}">主题</a>
                </li>
                <li shiro:hasPermission="query">
                <li th:replace="common/my :: my"></li>
                </li>
            </ul>
        </nav>
    </div>

</header>

<div class="fy-docs-nav-distance"></div>

<!-- 发布作品 按钮 -->
<div class="container bottom_menu_margin_plus xzero_padding">
    <div class="newcard_container newcard_container_fix ">
        <div class="flex_row_panel">
            <img th:src="@{/images/Selfie-512.png}" class="pai_logo" />
            <div class="span_v10_margin_left">
                <span class="data_meta_info">发布自拍照片，让大家更好地认识你</span>
                <div class="v10_margin">
                    <a role="button" class="btn btn-default btn-sm btn_login_required" data-login="0" th:href="@{/shoot-selfie/selfie}">+ 立即参与</a>
                    <span class="data_meta_info span_v5_margin_left">试运行</span>
                </div>
            </div>
        </div>

    </div>

    <!-- 自拍信息展示 -->
    <div class="row data_post_row newcards_panel v8_margin" th:if="${selfie!=null}">

        <!-- 所有自拍信息循环 -->
        <div  th:each="selfie,index : ${selfie}">
        <div class="col-xs-6 col-sm-3 col-md-3 newcard_cell">
            <div class="newcard">
                <a class="data_post_container_link" th:href="@{/shoot-selfie/selfieMessage(id=${selfie.id})}">
                    <img style="width:100%;height:auto;" th:src="${selfie.imagesName}" />
                    <div class="newcard_content">
                        <div class="card_userline">
                            <img class="img-circle data_avatar_xs" th:src="${selfie.shootUser.portyaitl}" />
                            <span class="data_meta_info span_v2_margin_left" th:text="${selfie.shootUser.userName}">列宁</span>
                            <span class="data_meta_info span_v2_margin_left" th:text="${selfie.shootUser.shootAddress.shootProw.prow+
                            selfie.shootUser.shootAddress.shootCity.city+selfie.shootUser.shootAddress.shootCountry.country}">山东青岛</span>
                            <span class="data_meta_info span_v2_margin_left" th:text="${selfie.shootUser.roles.get(0).roleName}">模特</span>
                        </div>
                        <div class="card_oneline v5_margin">
                            <span class="data_meta_info" th:text="${selfie.creationDate+'  '+selfie.content}">昨天22:50 青岛约拍   约拍模特  照片本人</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        </div>

    </div>

    <div class="newcard_container_fix">

        <!-- 分页按钮 -->
        <div class="container pager_container">
            <nav>
                <ul class="pager">
                    <li class="disabled">
                        <a href="javascript:void(0);" aria-label="Previous">
                            <span aria-hidden="true">上一页</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/pai?page=0" aria-label="Next">
                            <span aria-hidden="true">1</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/pai?page=1" aria-label="Next">
                            <span aria-hidden="true">2</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/pai?page=2" aria-label="Next">
                            <span aria-hidden="true">3</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/pai?page=3" aria-label="Next">
                            <span aria-hidden="true">4</span>
                        </a>
                    </li>
                    <li class="distance">
                        <span>...</span>
                    </li>
                    <li class="">
                        <a href="/pai?page=45" aria-label="Next">
                            <span aria-hidden="true">46</span>
                        </a>
                    </li>
                    <li>
                        <a href="/pai?page=1" aria-label="Next">
                            <span aria-hidden="true">下一页</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

</div>


<div class="weui_dialog_confirm" id="login_dialog" style="display:none;">
    <div class="weui_mask" onclick="$(this).parent().hide();"></div>
    <div class="weui_dialog  popup_dialog" style="max-width:400px;">
        <div class="data_post_cell">
            <span class="data_group_title_bold site_login_title_fixed">登录摄会社</span>
            <div style="float:right;">
                <a role="button" class="btn btn-default btn-xs" href="javascript:void(0);" onclick="$('#login_dialog').hide();">关闭</a>
            </div>
        </div>
        <div class="data_post_cell">
            <a href="/account/loginwechat?returnUrl=%2Fpai">
                <img src="/content/resources/images/wechat_login.png" />
            </a>
        </div>
        <div class="data_post_cell">
            <a href="/account/loginweibo?returnUrl=%2Fpai">
                <img src="/content/resources/images/weibo_login.png" />
            </a>
        </div>
        <div class="data_post_cell v15_margin_bottom">
            <a href="/account/loginqq?returnUrl=%2Fpai">
                <img src="/content/resources/images/qq_login.png" />
            </a>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $(".data_post_container").on("click", function () {
            var container = $(this);
            var dataUrl = container.attr("data-url");
            if (dataUrl.length > 0) {
                window.open(dataUrl, "_self");
            }
        });
    });
</script>


<div id="notification_panel" style="position:fixed;">
    <div class="data_posts">
        <div class="data_post_cell" style="text-align:center;">
            <a class="btn btn-xs btn-primary" role='button' href="/notification">加载中</a>
        </div>
    </div>
</div>

</body>

</html>