
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>关注 - 艺术摄</title>
    <meta name="description" />
    <meta name="keywords" />

    <script th:src="@{/js/jquery.min.js}"></script>
    <link href="../css/core73.min.css" rel="stylesheet" />

</head>
<body class="body_default">

<style type="text/css">
    .updates_top_panel {
        padding: 5px 0 5px 0;
    }

    .nav_left_items {
        flex: 1;
    }

    .nav_left_items .following_user:first-child {
        margin-left: 0px;
    }

    .nav_left_items .following_user {
        margin-left: 12px;
    }

    .nav_right_items {
        flex-basis: 60px;
        justify-content: flex-end;
    }
</style>

<!-- 导航条 -->
<header class="navbar navbar-fixed-top fy-docs-nav" id="top" role="banner">

    <!-- 导航条 -->
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#fy-navbar" aria-controls="fy-navbar" aria-expanded="false">
                <span class="sr-only">导航切换</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand fy-navbar-brand" href="/" title="摄会社 - 摄影师模特摄影约拍演艺通告平台">
                <div>
                    <img src="../images/logo.png" class="fy-navbar-logo" />
                    <span>艺术摄</span>
                </div>
            </a>
        </div>
        <nav id="fy-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="uul">
                <li>
                    <a th:href="@{/shoot-user/index}">首页</a>
                </li>
                <li>
                    <a class="login fy-navItem-active" th:href="@{/shoot-attention/attention}">关注</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-theme/zipai}">自拍</a>
                </li>
                <li>
                    <a class="login" th:href="@{/shoot-theme/top}">主题</a>
                </li>
                <li shiro:hasPermission="query">
                <li th:replace="common/my :: my"></li>
                </li>
            </ul>
        </nav>
    </div>

</header>


<div class="fy-docs-nav-distance"></div>

<div class="container bottom_menu_margin_plus xzero_padding">
    <div class="newcard_container newcard_container_fix ">
        <div class="updates_top_panel form_header_righticon">

            <!-- 关注用户的头像展示 -->
            <div class="scroll_options nav_left_items">

                <a th:if="${attentionTouxiang==null or attentionTouxiang.size()<1}">
                    <h5>你还没有关注任何人</h5>
                </a>

                <a th:if="${attentionTouxiang!=null and attentionTouxiang.size()>0}" th:each="attention,index : ${attentionTouxiang}">
                    <a class="following_user data_post_author_title_link" th:title="${attention.shootUser.userName+' '+
                    attention.shootUser.shootAddress.shootProw.prow+attention.shootUser.shootAddress.shootCity.city+
                    attention.shootUser.shootAddress.shootCountry.country+' '+attention.shootUser.roles.get(0).roleName}" th:href="@{/shoot-attention/personalInfo(userId=${attention.shootUser.id})}">
                        <img class="img-circle data_avatar_small2" th:alt="${attention.shootUser.userName}" th:src="${attention.shootUser.portyaitl}" />
                    </a>
                </a>
            </div>

            <!-- 页面展示的计算人数 -->
            <div class="nav_right_items flex_row_panel">
                <a class="data_post_title_link" href="/u/following?userID=5537271" th:text="${attentionTouxiang.size()>0?'全部'+attentionTouxiang.size()+'人':'全部0人'}">全部3人</a>
                <div class="right_select"></div>
            </div>

        </div>
    </div>

    <!-- 我关注的人信息展示 -->
    <div class="row data_post_row newcards_panel v8_margin">

        <!-- 循环便利 -->
        <div th:if="${attentionInfo!=null and attentionInfo.size()>0}" th:each="info,count : ${attentionInfo}">
            <div class="col-xs-6 col-sm-3 col-md-3 newcard_cell">
                <div class="newcard">
                    <a class="data_post_container_link" th:href="@{/shoot-info/about(id=${info.id})}">
                        <img style="width:100%;height:auto;" th:src="${info.shootImages!=null and info.shootImages.size()>0?info.shootImages.get(0).imagesName:images}" />
                        <div class="newcard_content">
                            <div class="card_userline">
                                <img class="img-circle data_avatar_xs" th:src="${info.shootUser.portyaitl}" />
                                <span class="data_meta_info span_v2_margin_left"  th:text="${info.shootUser.userName}">Desert</span>
                                <span class="data_meta_info span_v2_margin_left" th:text="${info.shootUser.shootAddress.shootProw.prow+
                                info.shootUser.shootAddress.shootCity.city+
                                info.shootUser.shootAddress.shootCountry.country}">上海</span>
                                <span class="data_meta_info span_v2_margin_left" >摄影师</span>
                            </div>
                            <div class="card_2line v5_margin">
                                <span class="data_meta_info" th:text="${info.creationDate+' '+info.shootType.typeName+' '+info.content}">今天13:57 约拍 精修30张&#xA;底片全送</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        </div>

    </div>

    <div class="newcard_container_fix">

    </div>
</div>

</body>
</html>